<worker {{td_agent_worker3}}>
  <source>
    @type tail   
    path /db0/tdlogs/merged/idhub-{{ project_id_number_env }}-web/var.log.app.idhub/user.%Y-%m-%d.log
    pos_file /var/log/td-agent/app_idhub_user_count.pos
    pos_file_compaction_interval 240h 
    rotate_wait 60
    tag idhub-web_app_idhub_user_log
    <parse>
      @type regexp
      time_format %Y/%m/%d %H:%M:%S.%L
      # マージログはホスト名がついたりしているのでパース用のexpressionはそのまま使えないので修正が必要 (?<server>[^ ]*)  を先頭に付ければOK
      # expression /(?<server>[^ ]*) (?<logger>[A-Za-z_-]{2,30}),(?<log-time>\d{4}/\d{1,2}/\d{1,2} \d{1,2}:\d{1,2}:\d{1,2}.\d{3}),(?<thread>\[.*.\]),(?<file>.*.java):(?<method>[a-zA-Z0-9_]{1,300}):(?<line>[0-9]{1,10000}),(?<level>[A-Z]{1,20}),(?<msg>.+)/
      # expression /(?<server>[^ ]*) (?<logger>[A-Za-z_-]{2,30}),(?<log-time>\d{4}/\d{1,2}/\d{1,2} \d{1,2}:\d{1,2}:\d{1,2}.\d{3}),(?<thread>\[.*.\]),(?<file>.*.java):(?<method>[a-zA-Z0-9_]{1,300}):(?<line>[0-9]{1,10000}),(?<level>[A-Z]{1,20}),(?<IP>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}),\s(?<XX>[^,]*),((?<message_code>.*),\s\[\[(?<status_code>.)\]\]\s.*,func:(?<func>[^,].*),site:(?<site>[^,].*),userid:(?<userid>[^,].*),docomo:(?<docomo>[^,].*),ocnid:(?<ocnid>[^,].*),gooid:(?<gooid>[^,].*)|(?<msg>.+))/
      expression /(?<server>[^ ]*) (?<logger>[A-Za-z_-]{2,30}),(?<log-time>\d{4}/\d{1,2}/\d{1,2} \d{1,2}:\d{1,2}:\d{1,2}.\d{3}),(?<thread>\[.*.\]),(?<file>.*.java):(?<method>[a-zA-Z0-9_]{1,300}):(?<line>[0-9]{1,10000}),(?<level>[A-Z]{1,20}),((?<IP>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}),\s(?<XX>[^,]*),(?<message_code>.*),\s\[\[(?<status_code>.)\]\]\s.*,func:(?<func>[^,].*),site:(?<site>[^,].*),userid:(?<userid>[^,].*),docomo:(?<docomo>[^,].*),ocnid:(?<ocnid>[^,].*),gooid:(?<gooid>[^,].*)|(?<msg>.+))/
      # keep_time_key true
    </parse>
  </source>

  <match idhub-web_app_idhub_user_log.**>
    @type copy
    <store>
      @type         datacounter         
      count_interval 5m 
      aggregate all
      count_key msg
      # patternX: X(1-20)
      pattern1 to_zabbix.error.idhub.web.idhub.user.dconnect .*IDCAUE0000[2-5],.\[\[E\]\].*
      pattern2 to_zabbix.error.idhub.web.idhub.user .*\[\[E\]\].*
      tag count.idhub-web_app_idhub_user_log.msg.*
    </store>
    <store>
      @type 	              elasticsearch
      scheme	              https
      ssl_version           {{ elasticsearch.ssl_version }}
      ca_file               {{ elasticsearch.ca_file }}
      # host 	                {{ elasticsearch.hostname }}
      hosts                 {{ elasticsearch.hosts }}
      user                  {{ elasticsearch.user }}
      password              {{ elasticsearch.pwd }}
      # index_name            fluentd.${tag}-%Y%m%d
      logstash_format       true
      include_timestamp     true
      logstash_prefix       fluentd.${tag}
      logstash_dateformat   %Y%m%d
      time_key_format %Y-%m-%dT%H:%M:%S.%N%z
      with_transporter_log  true
      @log_level             {{ plugin_log_level.elasticsearch }}
      # utc_index             false
      <buffer tag,time>
        timekey         1d
      </buffer>
      flush_interval  1m
    </store>
  </match>  

  <match count.idhub-web_app_idhub_user_log.msg.*>
    @type               file
    append              true
    # The filename of the path should be the same as the filename of this file.
    path /db0/tdlogs/zabbix-sender-count/app_idhub_user_count
    time_slice_format   %Y-%m-%d
    <buffer time>
      @type memory
      timekey             1d
      timekey_wait        0s
      flush_mode          immediate
      flush_at_shutdown   true
    </buffer>
  </match>
</worker>
