<worker {{td_agent_worker3}}>
  <source>
    @type tail
    path /db0/tdlogs/merged/gooid-{{ project_id_number_env }}-batch/var.log.cluster/corosync.%Y-%m-%d.log
    pos_file /var/log/td-agent/gbs_cluster_corosync_count.pos
    pos_file_compaction_interval 240h 
    rotate_wait 60
    tag gooid-batch_gbs_cluster_corosync_log
    <parse>
      @type regexp
      time_format %b %e %H:%M:%S
      # マージログはホスト名がついたりしているのでパース用のexpressionはそのまま使えないので修正が必要
      expression /(?<server>[^ ]*) (?<parsed_log>((?<log-time>[A-Za-z]{3} [0-9]{1,2} [0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}) \[(?<process>[^\]].*)\] (?<server>[^ ].*) (?<process>[^:].*): (?<level>[^:].*):(?<msg_from>[^:].*):(?<message>.+))|(?<message>.+))/
      # keep_time_key true
    </parse>
  </source>

  <match gooid-batch_gbs_cluster_corosync_log.**>
    @type datacounter
    count_interval 5m 
    aggregate all
    count_key parsed_log
    # patternX: X(1-20)
    pattern1 to_zabbix.error.gooid.batch.cluster.cluster.corosync ^.*LogActions:.*(Move|Promote|Demote|Stop ).*$
    tag count.gooid-batch_gbs_cluster_corosync_log.parsed_log.*
  </match>

  <match count.gooid-batch_gbs_cluster_corosync_log.parsed_log.*>
    @type               file
    append              true
    # The filename of the path should be the same as the filename of this file.
    path /db0/tdlogs/zabbix-sender-count/cluster_corosync_count
    time_slice_format   %Y-%m-%d
    <buffer time>
      @type memory
      timekey             1d
      timekey_wait        0s
      flush_mode          immediate
      flush_at_shutdown   true
    </buffer>
  </match>
</worker>
