{#
    batch系はまとめて監視を行うのでvarsでコメントアウト中
#}
<worker {{td_agent_worker3}}>
  <source>
    @type tail
    path /db0/tdlogs/merged/idhub-{{ project_id_number_env }}-batch/var.log.app.idhub/make_ocn_dpointcard_error_account_list.%Y-%m-%d.log
    pos_file /var/log/td-agent/app_idhub_make_ocn_dpointcard_error_account_list_count.pos
    pos_file_compaction_interval 240h 
    rotate_wait 60
    tag idhub-batch_app_idhub_make_ocn_dpointcard_error_account_list_log
    <parse>
      @type regexp
      time_format %Y/%m/%d %H:%M:%S,%L
      # マージログはホスト名がついたりしているのでパース用のexpressionはそのまま使えないので修正が必要 (?<server>[^ ]*)  を先頭に付ければOK
      expression /(?<server>[^ ]*) (?<parsed_log>(?<log-time>[0-9]{4}/[0-9]{1,2}/[0-9]{1,2} [0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}.[0-9]{3})*,(?<level>[A-Z]{1,5})*,(?<message>.+))/
      # keep_time_key true
    </parse>
  </source>

  <match idhub-batch_app_idhub_make_ocn_dpointcard_error_account_list_log.**>
    @type         datacounter         
    count_interval 5m 
    aggregate all
    count_key message
    # patternX: X(1-20)
    pattern1 to_zabbix.error.idhub.batch.idhub.make_ocn_dpointcard_error_account_list .*\[\[E\]\].*
    tag count.idhub-batch_app_idhub_make_ocn_dpointcard_error_account_list_log.message.*
  </match>  

  <match count.idhub-batch_app_idhub_make_ocn_dpointcard_error_account_list_log.message.*>
    @type               file
    append              true
    # The filename of the path should be the same as the filename of this file.
    path /db0/tdlogs/zabbix-sender-count/make_ocn_dpointcard_error_account_list_count
    time_slice_format   %Y-%m-%d
    <buffer time>
      @type memory
      timekey             1d
      timekey_wait        0s
      flush_mode          immediate
      flush_at_shutdown   true
    </buffer>
  </match>
</worker>
