<VirtualHost *:40080>
ServerName {{ httpd_idc_fqdn }}:{{ httpd_idc_port }}

DocumentRoot "/var/www_idhub/html"
DirectoryIndex index.php

<Directory />
    AllowOverride none
    Require all denied
</Directory>

<Directory "/var/www_idhub">
    AllowOverride None
    Require all granted
</Directory>

<Directory "/var/www_idhub/html">
    Options FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

<Files ".ht*">
    Require all denied
</Files>

RewriteEngine on
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$
RewriteRule .* - [F]

## 2022-05 システム更改
## 外部からはメンテ画面、内部からは通常動作
###IncludeOptional conf/external-maintenance.conf

# SSL
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
## 性能試験をLAN同士で行うため、Private IPは除外
RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} !^172\.2[0-9]\.
RewriteCond %{REMOTE_ADDR} !^10\.2[0-9]\.
RewriteRule ^/(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

{% include 'roles/kagemusha/templates/kagemusha.conf.j2' %}

<Location />
    Options FollowSymLinks
    AllowOverride None
    Require all granted
</Location>

<Location /.well-known>
  Require all granted
</Location>

<Location /idhub/api/>
    Options FollowSymLinks
    <RequireAny>
        Require all denied
        # Private IP (RFC1579, RFC1918)
        Require ip 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
        Include conf/acl-servers.conf
    </RequireAny>
</Location>

ProxyPass /idhub/ ajp://localhost:48009/idhub/

</VirtualHost>
