<VirtualHost *:40080>
ServerName {{ httpd_idc_fqdn }}:{{ httpd_idc_port }}

DocumentRoot "/var/www_idhub/html"
DirectoryIndex index.php

<Directory />
    AllowOverride none
    Require all denied
</Directory>

<Directory "/var/www_idhub">
    AllowOverride None
    Require all granted
</Directory>

<Directory "/var/www_idhub/html">
    Options FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

<Files ".ht*">
    Require all denied
</Files>

RewriteEngine on
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$
RewriteRule .* - [F]

# SSL
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} !^172\.2[0-9]\.
RewriteCond %{REMOTE_ADDR} !^10\.2[0-9]\.
RewriteRule ^/(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

<Location />
    Options FollowSymLinks
    {% if service_code == "idhub-21" %}
    <RequireAny>
       AuthName "User/Password"
       AuthType Basic
       AuthUserFile /usr/local/apache/passwd/.Developer.pwd
       Require valid-user
       include conf/acl-servers.conf
    </RequireAny>
    {% else %}
    AllowOverride None
    Require all granted
    {% endif %}
</Location>

<Location /.well-known>
  Require all granted
</Location>

<Location /idhub/api/>
    Options FollowSymLinks
    {% if service_code == "idhub-21" %}
    <RequireAny>
       AuthName "User/Password"
       AuthType Basic
       AuthUserFile /usr/local/apache/passwd/.Developer.pwd
       Require valid-user
       include conf/acl-servers.conf
    </RequireAny>
    {% else %}
    AllowOverride None
    Require all granted
    {% endif %}
</Location>

# idhub-oidc.confに移行(blue-green-deploy)
#ProxyPass /oidc/ http://localhost:48080/oidc/
#ProxyPassReverse /oidc/ http://localhost:48080/oidc/

ProxyPass /idhub/ ajp://localhost:48009/idhub/

</VirtualHost>
