function main()
    luasql = require "luasql.mysql"

    env = assert( luasql.mysql() )
    con = assert( env:connect("PDB02", "{{ mysql_reader_name }}", "{{ mysql_reader_password }}", "127.0.0.1", 6033) )

    local ipaddr = m.getvar("REMOTE_ADDR")
    -- local ipaddr = '1.0.1.1' -- テスト用(CN)
    -- local ipaddr = '5.3.0.9' -- テスト用(RU)

    -- con:escape()はLuaSQL 2.2.0以降じゃないと使えないことに注意。
    local sql = string.format([[ SELECT countrycode FROM country WHERE inet_aton('%s') BETWEEN ipstart AND ipfinish ]], con:escape(ipaddr))
    print(sql)
    local cur = assert(con:execute(sql))
    local row = cur:fetch()

    local retval = nil

    if (row ~= nil) then
        m.setvar("TX.COUNTRY_CODE",row)
        retval = "TX.COUNTRY_CODE: " .. m.getvar("TX.COUNTRY_CODE")
        -- print("countrycode=" .. row) -- テスト用
    end

    con:close()
    env:close()

    return retval

end
