#####################################################################
### mod_gooaes用モジュールの読み込み
#####################################################################
LoadModule gooaes_module modules/mod_gooaes.so

#####################################################################
### 認証チケットの暗号化や署名に用いる共通鍵の運用モードを指定する
### [書式]
### OPERATION_STATUS 0|1
###   - 0: 検証環境用モード。デフォルト値。
###   - 1: 商用環境用モード
#####################################################################
{% if release_env == "dev" %}
OPERATION_STATUS 0
{% else %}
OPERATION_STATUS 1
{% endif %}

#####################################################################
### エンドユーザとの通信路がセキュアかどうかを指定する
### [書式]
### GooIDTicketConnectionSecurity byscheme|secure|insecure
###   - byscheme: URLスキーム(httpまたはhttps)から自動判定。デフォルト値。
###   - secure:   通信路がセキュアであるとみなす
###   - insecure: 通信路が非セキュアであるとみなす
#####################################################################
#GooIDTicketConnectionSecurity byscheme
GooIDTicketConnectionSecurity secure

#####################################################################
### libgooidがsyslog経由で出力するログのファシリティを指定する。
### [書式]
### GooIDTicketLogFacility kern|user|mail|daemon|auth|syslog|lpr|news|uucp|cron|authpriv|ftp|local0|local1|local2|local3|local4|local5|local6|local7
###   デフォルト値はuser。
#####################################################################
GooIDTicketLogFacility local0


#####################################################################
### libgooidがsyslog経由で出力するログのレベルを指定する。
### [書式]
### GooIDTicketLogLevel emerg|alert|crit|err|warning|notice|info|debug
###   デフォルト値はinfo。
#####################################################################
{% if release_env == "dev" %}
GooIDTicketLogLevel info
{% else %}
GooIDTicketLogLevel warning
{% endif %}


#####################################################################
### GooIDログインの有効期間を指定する。
### [書式]
### GooIDTicketValidPeriod [0-9]+(D|h|m|s)
###   デフォルト値、最大値は24h。
#####################################################################
#GooIDTicketValidPeriod 24h


#####################################################################
### 他サイト連携ログインの有効期間を指定する。
### [書式]
### GooIDTicketValidPeriodExt [0-9]+(D|h|m|s)
###   デフォルト値、最大値は3650D。
#####################################################################
#GooIDTicketValidPeriodExt 3650D


#####################################################################
### 有効期限切れGooID認証チケットの読取可能期間を指定する。
### [書式]
### GooIDTicketReadablePeriod [0-9]+(D|h|m|s)
###   デフォルト値は24h、最大値は14D。
###   (注) 24h以上の値を設定する場合は必ず課金/ID担当にご相談ください。
#####################################################################
#GooIDTicketReadablePeriod 24h


#####################################################################
### 有効期限切れ他サイト連携用認証チケットの読取可能期間を指定する。
### [書式]
### GooIDTicketReadablePeriodExt [0-9]+(D|h|m|s)
###   デフォルト値、最大値は3650D。
#####################################################################
#GooIDTicketReadablePeriodExt 3650D