# for Privacy Policy of cookie

Header set P3P "policyref=\"/w3c/p3p.xml\",CP=\"CAO DSP COR CURa ADMa DEVa TAIa PSAa PSDa IVAi IVDi CONo OUR SAMo OTRo IND PHY ONL UNI PUR FIN COM NAV INT DEM CNT STA HEA PRE LOC\""

Redirect permanent /w3c/p3p.xml http://help.goo.ne.jp/w3c/p3p.xml

