# TEST Tools

Alias /testtools/ "/home/testtools/"
<Directory "/home/testtools/">
    AllowOverride None
    Require all granted

    Options ExecCGI FollowSymLinks
    <FilesMatch "\.php$">
        ForceType application/x-httpd-php
    </FilesMatch>
</Directory>
<Directory "/home/testtools/gooapi/document/">
    ForceType application/x-httpd-php
</Directory>
