5 4 * * * root /home/log/log_compression.sh /home/log/bin/config_log_{{inventory_hostname_short}} 1 > /dev/null 2>&1
0 4 * * * root /home/log/log_compression.sh /home/log/bin/config_log_{{inventory_hostname_short}}_nodate 1 > /dev/null 2>&1
