SPRING_PROFILES_ACTIVE={{ gbss_app_system_no }}
SPRING_GBS_PATH=/usr/local/app/gbs_proto/web/gbs-green.jar

#app_logback_file_debug=/usr/local/app/gbs_proto/web/log/debug-spring-green.log
#app_logback_file_event=/usr/local/app/gbs_proto/web/log/event-spring-green.log
#app_logback_file_error=/usr/local/app/gbs_proto/web/log/error-spring-green.log
app_logback_file_debug=/var/log/app/gbss/debug-spring-green.log
app_logback_file_event=/var/log/app/gbss/event-spring-green.log
app_logback_file_error=/var/log/app/gbss/error-spring-green.log
app_logback_root_level=DEBUG

server_port=8082
management_server_port=8099

