[Unit]
Description=gbs-spring-blue
After=syslog.target

[Service]
EnvironmentFile=/usr/local/app/gbs_proto/web/gbs-blue.conf
User=gooscp
ExecStart=/usr/local/app/gbs_proto/web/gbs.sh
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
