[Unit]
Description = If the switch file is green, start gbs_spring-green.service
After=syslog.target proxysql.service
ConditionPathExists=/usr/local/tomcat/idc/bin

[Service]
ExecStart=/usr/local/app/{{ usr_local_app_gbsdir }}/web/is-enabled-gbs_spring-blue-or-green.sh
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target