version: '3.5'
services:

  redmine:
    depends_on:
      - mysql
    image: redmine:5.0.2
    container_name: myredmine
    restart: always
    environment:
      REDMINE_DB_MYSQL: mysql
      REDMINE_DB_DATABASE: db_redmine
      REDMINE_DB_USERNAME: user_redmine
      REDMINE_DB_PASSWORD: {{ redmine.dbuser_password }}
      REDMINE_DB_ENCODING: utf8mb4
      TZ: Asia/Tokyo
    ports:
      - 33000:3000
    networks:
      - redmine_nw
    volumes:
      # ボリューム設定形式：ホストの絶対パス:コンテナ内の絶対パス
      # redmine_filesバックアップの設定
      - /db0/redmine_files:/usr/src/redmine/files
      # database.ymlの設定
      - /db0/redmine/config/database.yml:/usr/src/redmine/config/database.yml
      # plugins
      - /db0/redmine/plugins:/usr/src/redmine/plugins
      # mailの設定
      - /db0/redmine/config/configuration.yml:/usr/src/redmine/config/configuration.yml

  mysql:
    image: mysql:5.7
    container_name: mymysql
    restart: always
    environment:
      MYSQL_DATABASE: db_redmine
      MYSQL_ROOT_PASSWORD: {{ redmine.dbroot_password }}
      MYSQL_USER: user_redmine
      MYSQL_PASSWORD: {{ redmine.dbuser_password }}
      TZ: Asia/Tokyo
    ports:
      - 3306:3306
    networks:
      - redmine_nw
    volumes:
      # mysql本体
      - /db0/db/mysql:/var/lib/mysql
      # zoneinfo
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    command: mysqld --log_error=/var/lib/mysql/error.log
networks:
  redmine_nw:
