{% include './files/ops.txt' %}

##
## 2022 generation
##

{% include './files/gooid-21-' + release_env + '.txt' %}

{% include './files/idhub-21-' + release_env + '.txt' %}

# 2025-01初頭、DDoS攻撃発生
#
# gooID → idhub へのサーバ間通信を、Global でなくLocalのVIP通信に変えることで、
# Firewall、Switch等の負荷を軽減させるため、
# 以下、DNSレコードとはことなる名前解決を行う。
#
# 挿絵： https://bit.ly/3PJG1Fa
#
172.25.253.16   auth.d.goo.ne.jp