 <VirtualHost _default_:80>
    RewriteEngine on
    RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$
    RewriteRule .* - [F]

    DocumentRoot "/var/www/html/"

    RequestHeader set X-Forwarded-Proto https

    <Location />
        Require all granted
    </Location>

    # rootにアクセスされたら、ヘルプツールのトップへ誘導リダイレクト
    RedirectMatch Permanent ^/$ /g_help/apl/visitor/OprAuth

    ProxyRequests off

    #ProxyPass / balancer://{{ proxypass_balancer }}/
    #ProxyPassReverse / balancer://{{ proxypass_balancer }}/

    <Location /g_help>
        Require all granted
        ProxyPass balancer://{{ proxypass_balancer }}/g_help stickysession=JSESSIONID|jsessionid scolonpathdelim=On
    </Location>

    ## 2022-05-15 k5ito
    ## 以下の report ? や 有料系 `/gbs` は、2022世代基盤上の退避ヘルプツールでは利用されない、と判断し
    ## アプリケーションのデプロイもせず、「無効」としました。
##  <Location /report>
##      Require all granted
##      ProxyPass balancer://{{ proxypass_balancer }}/report stickysession=JSESSIONID|jsessionid scolonpathdelim=On
##  </Location>

##  <Location /gbs>
##      Require all granted
##      ProxyPass balancer://{{ proxypass_balancer }}/gbs stickysession=JSESSIONID|jsessionid scolonpathdelim=On
##  </Location>

    # Active/Standbyの設定
    #
    # "[proxy_balancer:emerg] [pid 11045] (22)Invalid argument: AH01185: worker slotmem_create failed"
    # といったエラーメッセージでHTTPDが起動できない場合、 /var/run/httpd/slotmem-* ファイルを削除してください。
    <Proxy balancer://{{ proxypass_balancer }}>
        BalancerMember ajp://{{ ajp1 }}:8009 keepalive=on route={{ route1 }} loadfactor=1
        BalancerMember ajp://{{ ajp2 }}:8009 keepalive=on route={{ route2 }} status=+H
        ProxySet lbmethod=byrequests
    </Proxy>
 </VirtualHost>
