#
# 固定IPからのアクセスであるため、OTPによる2要素認証なしを許可するIPをここに定義。
#
# localhost
Require ip 127.0.0.1
# Private IP (RFC 1380, RFC 1597) : https://bit.ly/3vnYSw7
Require ip 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
# OCN名古屋センタ
Require ip 218.44.14.153/32
# 大手町オフィスエリアA（旧ゴールドゾーン）
Require ip 202.217.74.167/32
# SplashTop VDI
Require ip 202.217.74.160/28
