[Unit]
Description=goo message broker
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/msg-broker
ExecStart=/usr/local/app/goo/msg/bin/idc-msg-broker start
ExecStop=/usr/local/app/goo/msg/bin/idc-msg-broker stop
SuccessExitStatus=143
User=gooidc
Group=gooidc

[Install]
WantedBy=multi-user.target
