<VirtualHost *:443>
    DocumentRoot "/var/www/html/"
    ServerName fgw120.goo.ne.jp:443

    SSLEngine on
    SSLProtocol -ALL +TLSv1.2
    SSLCipherSuite ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256
    SSLHonorCipherOrder Off

    ##SSLCertificateFile /etc/httpd/conf/ssl/fgw120.goo.ne.jp.2022.crt
    ##SSLCertificateKeyFile /etc/httpd/conf/ssl/fgw120.goo.ne.jp.2022.key
    SSLCertificateFile conf/ssl/fgw120.goo.ne.jp.crt
    SSLCertificateKeyFile conf/ssl/fgw120.goo.ne.jp.key
    #SSLCertificateChainFile conf/ssl/cybertrust_intermediate_ev_sha256.crt
    SSLCertificateChainFile conf/ssl/intermediate_ca.crt


    SSLProxyEngine on
    ProxyRequests off
    ProxyPreserveHost on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    RequestHeader set X-Forwarded-Proto https

    <Location />
        Require all granted
    </Location>

    ProxyPass / https://gooid-21-pro-fgw-000/
    ProxyPassReverse / https://gooid-21-pro-fgw-000/
</VirtualHost>
