# 2025-10-01 ZeroSpace仮想デスクトップ廃止に伴い、
# gooid.wbo110.goo.ne.jp は違う待機ポートで別経路を作ることとした。
# See.
#   GOOID-986 ZeroSpace向けに新しい経路を追加
#   https://bklg.docomo-common.com/backlog/view/GOOID-986
<VirtualHost *:20443>
    DocumentRoot "/var/www/html/"
    ServerName gooid.wbo110.goo.ne.jp:443

    SSLEngine on
    SSLProtocol -ALL +TLSv1.2
    SSLCipherSuite ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256
    SSLHonorCipherOrder Off

    SSLCertificateFile /etc/letsencrypt/live/gooid.wbo110.goo.ne.jp/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/gooid.wbo110.goo.ne.jp/privkey.pem

    SSLProxyEngine on
    ProxyRequests off
    ProxyPreserveHost on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    RequestHeader set X-Forwarded-Proto https

    # （親切リダイレクト）"/" (root) は ヘルプツールのTopへ
    RedirectMatch permanent ^/$ /g_help/apl/member/HelpStart

    <Location />
        <RequireAny>
            AuthName "User / (Password+NNNNNN)"
            AuthType Basic
            AuthBasicProvider OTP
            Require valid-user

            {#- フルパスでないと動作しないのかもしれない +#}
            AuthUserFile /etc/httpd/otp/users.pin
            OTPAuthUsersFile /etc/httpd/otp/users.token
            OTPAuthPINAuthProvider file
            # 6 hours
            OTPAuthMaxLinger 21600
            # アクセス元IPが変わっても認証状態を有効
            OTPAuthLogoutOnIPChange Off
            
            Include conf/acl-no-otp-servers.conf
        </RequireAny>
    </Location>

    ProxyRequests off

    ProxyPass / balancer://gooid-20-pro-hlp-000/
    ProxyPassReverse / balancer://gooid-20-pro-hlp-000/

    # Active/Standbyの設定
    <Proxy balancer://gooid-20-pro-hlp-000>
        BalancerMember https://gooid-21-pro-hlp-001 loadfactor=1
        BalancerMember https://gooid-21-pro-hlp-002 status=+H
    </Proxy>
</VirtualHost>