<VirtualHost *:80>
    DocumentRoot "/var/www/html/letsencrypt"
    ServerName gooid.wbo110.goo.ne.jp:80
    ServerAlias builder.gooid.wbo110.goo.ne.jp:80 \
        fgw120.goo.ne.jp:80
</VirtualHost>
