<VirtualHost *:443>
    DocumentRoot "/var/www/html/"
    ServerName srvc.goo.ne.jp:443

    SSLEngine on
    SSLProtocol -ALL +TLSv1.2
    SSLCipherSuite ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256
    SSLHonorCipherOrder Off

    SSLCertificateFile /etc/httpd/conf/ssl/srvc.goo.ne.jp.crt
    SSLCertificateKeyFile /etc/httpd/conf/ssl/srvc.goo.ne.jp.key
    SSLCertificateChainFile /etc/httpd/conf/ssl/intermediate_ca.crt

    SSLProxyEngine on
    ProxyRequests off
    ProxyPreserveHost on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    RequestHeader set X-Forwarded-Proto https

    ProxyPass / http://172.25.253.221/
    ProxyPassReverse / http://172.25.253.221/
</VirtualHost>
