<VirtualHost *:443>
    DocumentRoot "/var/www/html/"
    ServerName wbo110.goo.ne.jp:443

    RewriteEngine On
    Redirect permanent /g_help https://gooid.wbo110.goo.ne.jp/g_help
    Redirect permanent /d_help https://idhub.wbo110.goo.ne.jp/d_help
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot "/var/www/html/"
    ServerName wbo110.goo.ne.jp:80

    RewriteEngine On
    Redirect permanent /g_help https://gooid.wbo110.goo.ne.jp/g_help
    Redirect permanent /d_help https://idhub.wbo110.goo.ne.jp/d_help
</VirtualHost>
