Listen 443 https
#SSLSessionCache         shmcb:/run/httpd/sslcache(512000)
#SSLSessionCacheTimeout  300
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
AddType application/x-x509-ca-cert .crt
AddType application/x-pkcs7-crl    .crl

<VirtualHost _default_:443>
ErrorLog "|/usr/sbin/rotatelogs /var/log/httpd/ssl_error_log.%Y%m%d 86400 540"

# アクセスログへのフィルタ条件を定義
# 2024-08 アクセスログの肥大化を防ぐため、静的ファイルのログ行は除外するようにした
# HWKOUKAI2022-246 httpアクセスログ ー 不要行をロギングしない ＋ status.jspの50xエラーを監視から除外させる。
SetEnvIfNoCase Request_URI "\.(gif|flv|jpe?g|ico|css|js|png|rdf|svg|swf|txt|webp|xml)$" no_record_object

# 2024-08 LBがアクセスしてくるヘルスチェックでのエラーを一般ユーザのエラーとは分類するため別のログファイルに出力するようにした。
# HWKOUKAI2022-246 httpアクセスログ ー 不要行をロギングしない ＋ status.jspの50xエラーを監視から除外させる。
SetEnvIfNoCase Request_URI "\/(heartbeat|status\.jsp)$" no_record_object object_is_healthcheck

CustomLog "|/usr/sbin/rotatelogs /var/log/httpd/ssl_access_log.%Y%m%d 86400 540" combined_gooidc env=!no_record_object
CustomLog "|/usr/sbin/rotatelogs /var/log/httpd/ssl_healthcheck_access_log.%Y%m%d 86400 540" combined_gooidc env=object_is_healthcheck

LogLevel error

SSLEngine on
SSLProtocol all -SSLv2 -SSLv3
SSLCipherSuite HIGH:!aNULL:!MD5:!PSK:!SRP
SSLHonorCipherOrder on

SSLCertificateFile /etc/httpd/ssl/{{ hlp_httpd_fqdn }}.crt
SSLCertificateKeyFile /etc/httpd/ssl/{{ hlp_httpd_fqdn }}.key

RewriteEngine on
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$
RewriteRule .* - [F]

<Location /g_help>
  Require all granted
  ProxyPass ajp://localhost:8009/g_help
</Location>

<Location /report>
  Require all granted
  ProxyPass ajp://localhost:8009/g_report
</Location>

<Location /gbs>
  Require all granted
  ProxyPass ajp://localhost:8009/gbs
</Location>

<Location /gbs-healthcheck>
  Require all granted
  ProxyPass ajp://localhost:8009/gbs-healthcheck
</Location>

<Location /gbs/gbsGoodsInfo>
  Options FollowSymLinks
  AuthType Basic
  AuthName "Goods administration service for BB"
  AuthUserFile /etc/.htpasswd
  require valid-user
  Satisfy all
</Location>

<Location /gbs/drmGoodsInfo>
  Options FollowSymLinks
  AuthType Basic
  AuthName "Goods administration service for BB"
  AuthUserFile /etc/.htpasswd
  require valid-user
  Satisfy all
</Location>

<Location /d_help>
  Require all granted
  ProxyPass ajp://localhost:8009/d_help
</Location>

<Location /jenkins>
  Require all granted
  ProxyPass http://{{ proxy_pass }}/jenkins nocanon
  ProxyPassReverse http://{{ proxy_pass }}/jenkins
</Location>

</VirtualHost>
