#!/bin/bash

# OS specific support.
cygwin=false;
darwin=false;
mingw=false
case "`uname`" in
  CYGWIN*) cygwin=true ;;
  MINGW*) mingw=true;;
  Darwin*) darwin=true
  ;;
esac

if $darwin ; then
  SCRIPT="$0"
else
  SCRIPT=$(readlink -f "$0")
fi
SCRIPTPATH=$(dirname "$SCRIPT")

if [ -f ACTIVE_MODE ]; then
  active_mode=`cat ACTIVE_MODE`
else
  active_mode='1.0.0'
fi

echo "CMD: SPRING_PROFILES_ACTIVE=cli,prod ./idhub-oidc-${active_mode}.jar" "$@"
SPRING_PROFILES_ACTIVE=cli,prod ./idhub-oidc-${active_mode}.jar "$@"
