[Unit]
Description=idhub-oidc-blue
After=syslog.target

[Service]
EnvironmentFile=/usr/local/app/idhub-oidc/oidc-blue.conf
WorkingDirectory = /usr/local/app/idhub-oidc
ExecStart=/usr/local/app/idhub-oidc/start.sh
SuccessExitStatus=143
User=gooscp
Group=gooscp

[Install]
WantedBy=multi-user.target
