<worker {{td_agent_worker1}}>
  <filter idhub*.var.log.httpd.alert_test_access_log.**>
    @type record_transformer
    enable_ruby
    <record>
      host_groups_name ${tag_parts[0].split(/-[0-9]{3}$/)[0]}
    </record>
    <buffer tag>
    </buffer>
  </filter>
  
  <match idhub*.var.log.httpd.alert_test_access_log.**>
    @type                   copy
    <store ignore_error>
      @type               rewrite_tag_filter
      <rule>
        key               host_groups_name
        pattern           /(goo.*|id.*)$/
        tag               test_access_log.$1.${tag}
      </rule>
    </store>
  </match>

  <filter test_access_log.**>
    @type                   concat
    flush_interval          0
    key                     message
    separator               "### NEW LINE ###"
    multiline_start_regexp  /^[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}/
  </filter>

  ###マージログを優先処理するため変更###
  <match test_access_log.**>
    @type                     copy
    <store>
      # マージログ出力優先
      @type                   rewrite_tag_filter
      <rule>
        key                   host_groups_name
        pattern               /.+/
        tag                   merged.${tag}
      </rule>
    </store>
    <store>
      # そのまま何もせずに後続処理へ
      @type                   rewrite_tag_filter
      <rule>
        key                   host_groups_name
        pattern               /.+/
        tag                   rewritten.${tag}
      </rule>
    </store>
  </match>

  # parsed_logに全て格納する
  <filter merged.test_access_log.**>
    @type                   parser
    key_name                message
    <parse>
      @type                 regexp
      time_format           %d/%b/%Y:%H:%M:%S %z
      expression            /(?<parsed_log>.+)/
      keep_time_key         true
    </parse>
  </filter>


  # マージ用のログにホスト名を付ける
  <filter merged.test_access_log.**>
    @type                   record_transformer
    <record>
      hostname              ${tag_parts[3]}
    </record>
    <buffer tag>
    </buffer>
  </filter>


  <match merged.test_access_log.**>
    @type                   forest
    subtype                 file
    <template>
      format                hostname_and_message
      append                true
      # path                  /db0/tdlogs/merged/idhub-30-dev-web/var.log.httpd/alert_test_access_log
      path                  /db0/tdlogs/merged/idhub-21-dev-web/var.log.httpd/alert_test_access_log
      time_slice_format     %Y-%m-%d
      buffer_path           /db0/tdlogs/merge-buffer/${tag}
      buffer_chunk_limit    512m
      flush_mode            interval
      flush_interval        1m
      flush_at_shutdown     true
    </template>
  </match>

  <match merged.test_access_log.**>
    @type null
  </match>
  
</worker>