
<worker {{td_agent_worker0}}>
  <source>
    @type tail
    path                          /db0/tdlogs/merged/idhub-{{ project_id_number_env }}-hlp/var.log.httpd/ssl_access_log.%Y-%m-%d.log
    pos_file                      /var/log/td-agent/elastic-sender_idhub-hlp_httpd_ssl_access_log
    pos_file_compaction_interval  240h 
    rotate_wait                   60
    tag                           idhub-hlp_httpd_ssl_access_log
    <parse>
      @type         regexp
      time_format   %d/%b/%Y:%H:%M:%S %z
      expression /(?<server>[^ ]*)\s(?<host>[^\s]*)\s(?<remotelog>[^\s]*)\s(?<user>[^\s]*)\s\[(?<log-time>[^\]]*)\]\s(?<size>[^\s]*)\s?"(?<method>(\S+|\\))\s(?<path>[^\s]*).*?"\s(?<status>[^\s]*)\s(?<size2>[^\s]*)\s?"(?<referer>(?:[^\"]|\\.)*)"\s"(?<user-agent>[^"]*)/
      # keep_time_key true
    </parse>
  </source>

  <match idhub-hlp_httpd_ssl_access_log.**>
    @type 	              elasticsearch
    scheme	              https
    ssl_version           {{ elasticsearch.ssl_version }}
    # Copy from /etc/elasticsearch/certs/http_ca.crt on the els server
    ca_file               {{ elasticsearch.ca_file }}
    # host 	                {{ elasticsearch.hostname }}
    # hosts https://customhost.com:443/path,https://username:password@host-failover.com:443
    # port 9200
    hosts                 {{ elasticsearch.hosts }}
    user                  {{ elasticsearch.user }}
    password              {{ elasticsearch.pwd }}
    # Does not work with elasticsearch_dynamic
    # index_name            fluentd.${tag}-%Y%m%d
    logstash_format       true
    include_timestamp     true
    logstash_prefix       fluentd.${tag}
    logstash_dateformat   %Y%m%d
    time_key_format %Y-%m-%dT%H:%M:%S.%N%z
    pipeline              host-geoip
    # include_tag_key      true
    with_transporter_log  true
    @log_level            {{ plugin_log_level.elasticsearch }}
    # utc_index             false
    # time_key created_at
    # time_key_format     %a %b %d %H:%M:%S %z %Y
    <buffer tag,time>
      timekey             1d
      # flush_interval      1m
    </buffer>
    flush_interval        1m
  </match>  
</worker>
