<worker {{td_agent_worker0}}>
  <source>
    @type tail
    path                          /db0/tdlogs/merged/gooid-{{ project_id_number_env }}-web/var.lib.proxysql/proxysql.%Y-%m-%d.log
    pos_file                      /var/log/td-agent/elastic-sender_proxysql.pos
    pos_file_compaction_interval  240h 
    rotate_wait                   60
    tag                           gooid-web_proxysql_log
    <parse>
      @type         regexp
      time_format   %Y-%m-%d %H:%M:%S
      # expression    /^(?<host>[^\s]*)\s(?<log-time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2})\s(?<thread>[^\[]*) \[(?<level>[A-Z]{1,20})\] (?<msg>.+)/
      expression    /^(?<host>[^\s]*)\s(?<log-time>\d{4}-\d{1,2}-\d{1,2}\s\d{1,2}:\d{1,2}:\d{1,2})\s(?<msg>.+)/
      # keep_time_key true
    </parse>
  </source>

  <match gooid-web_proxysql_log>
    @type 	              elasticsearch
    scheme	              https
    ssl_version           {{ elasticsearch.ssl_version }}
    # Copy from /etc/elasticsearch/certs/http_ca.crt on the els server
    ca_file               {{ elasticsearch.ca_file }}
    # host 	                {{ elasticsearch.hostname }}
    # hosts https://customhost.com:443/path,https://username:password@host-failover.com:443
    # port 9200
    hosts                 {{ elasticsearch.hosts }}
    user                  {{ elasticsearch.user }}
    password              {{ elasticsearch.pwd }}
    # Does not work with elasticsearch_dynamic
    # index_name            fluentd.${tag}-%Y%m%d
    logstash_format       true
    include_timestamp     true
    logstash_prefix       fluentd.${tag}
    logstash_dateformat   %Y%m%d
    time_key_format %Y-%m-%dT%H:%M:%S.%N%z
    # include_tag_key      true
    with_transporter_log  true
    @log_level            {{ plugin_log_level.elasticsearch }}
    # utc_index             false
    # time_key created_at
    # time_key_format     %a %b %d %H:%M:%S %z %Y
    <buffer tag,time>
      timekey             1d
      # flush_interval      1m
    </buffer>
    flush_interval        1m
  </match>  
</worker>
