#!/bin/bash

## サービスアウトされたままのWEBサーバをZABBIXで監視するためのスクリプトです。
## S-in状態なら、OKを送り続けます。
## S-out状態な、NGメッセージを送り続けます。
## ZABBIXのトリガーには以下のように設定しているため、
## S-in状態になるまで、1時間おきにzabbixから1bアラート通知されます
## トリガー：({to_zabbix.id.monitoring.regexp("OK")}=0) and ({to_zabbix.id.monitoring.nodata(1800)}=0)

MONITORING_URL=$1
SERVICE=`echo $MONITORING_URL | awk -F '[/]' '{print $4}'`

KEY="to_zabbix.${SERVICE}.monitoring"

MY_HOSTNAME=$(hostname --fqdn)
ZABBIX_SERVERS="10.23.110.104:6951 10.23.110.105:6951"
LOG=/dev/null

RESPONSE=`curl $MONITORING_URL | grep OK`;

if [ -f $RESPONSE ]; then

    for ZABBIX_SERVER in ${ZABBIX_SERVERS}
    do
        ZABBIX_HOST=$(echo ${ZABBIX_SERVER} | cut -d: -f1)
        ZABBIX_PORT=$(echo ${ZABBIX_SERVER} | cut -d: -f2)
        /usr/bin/zabbix_sender -vv -z ${ZABBIX_HOST} -p ${ZABBIX_PORT} -s "${MY_HOSTNAME}" -k ${KEY} -o "${MY_HOSTNAME}がサービスア>ウトされています：${MONITORING_URL}=>NG" >> $LOG 2>&1
    done
else

    for ZABBIX_SERVER in ${ZABBIX_SERVERS}
    do
        ZABBIX_HOST=$(echo ${ZABBIX_SERVER} | cut -d: -f1)
        ZABBIX_PORT=$(echo ${ZABBIX_SERVER} | cut -d: -f2)
        /usr/bin/zabbix_sender -vv -z $ZABBIX_HOST -p $ZABBIX_PORT -s "$MY_HOSTNAME" -k ${KEY} -o "OK" >> $LOG 2>&1
    done
fi
