# 無料系サービスステータス確認
0 * * * * gooscp /usr/local/app/monitoring/check_web_status.sh http://localhost:40080/id/status.jsp > /dev/null 2>&1

# 有料系サービスステータス確認
0 * * * * gooscp /usr/local/app/monitoring/check_web_status.sh http://localhost:50080/gbs-healthcheck/healthcheck > /dev/null 2>&1
