<VirtualHost _default_:80>
RewriteEngine on
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$
RewriteRule .* - [F]

<Location /api>
  Require all granted
  ProxyPass ajp://localhost:8009/g_web/api
</Location>

</VirtualHost>
