<VirtualHost _default_:80>
RewriteEngine on
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$
RewriteRule .* - [F]

<Location /gbs/logLotate/>
  Require all granted
  ProxyPass ajp://localhost:8009/gbs/logLotate/
</Location>

</VirtualHost>
