version: '3'
services:
  jenkins:
    image: jenkins-podman:1.0.2
    container_name: jenkins
    privileged: false
    security_opt:
      - seccomp=unconfined
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - type: volume
        source: jenkins_home-pvc
        target: /var/jenkins_home
        volume:
          nocopy: true
      - type: volume
        source: jenkins_backup-pvc
        target: /backup
        volume:
          nocopy: true
      - /run/user/1000/podman/podman.sock:/run/podman/podman.sock:Z
      - /etc/resolv.conf:/etc/resolv.conf:ro
    group_add:
      - keep-groups
    environment:
      - CONTAINER_HOST=unix:///run/podman/podman.sock
      - JENKINS_OPTS=--prefix=/ci
      - http_proxy={{ proxy_env.http_proxy }}
      - https_proxy={{ proxy_env.http_proxy }}
      - HTTP_PROXY={{ proxy_env.http_proxy }}
      - HTTPS_PROXY={{ proxy_env.http_proxy }}
      - no_proxy=localhost,127.0.0.1
      - NO_PROXY=localhost,127.0.0.1

volumes:
  jenkins_home-pvc:
    external: true
    name: jenkins_home
  jenkins_backup-pvc:
    external: true
    name: jenkins_backup
