[Unit]
Description=Podman Compose Jenkins Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
#WorkingDirectory=~/jenkins
# フルパスで書く必要がある
WorkingDirectory=/opt/containers/jenkins
ExecStart=/usr/local/bin/podman-compose up -d
ExecStop=/usr/local/bin/podman-compose down
Restart=on-failure

[Install]
WantedBy=default.target


[Install]
WantedBy=default.target
