#####################################################
# MaxScale documentation:                           #
# https://mariadb.com/kb/en/mariadb-maxscale-24-02/ #
#####################################################

#######################################################################################################
# Global parameters                                                                                   #
#                                                                                                     #
# Complete list of configuration options:                                                             #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-maxscale-configuration-guide/ #
#######################################################################################################
[maxscale]
threads=auto
admin_secure_gui=false

############################################################################
# Server definitions                                                       #
#                                                                          #
# Set the address of the server to the network address of a MariaDB server.#
############################################################################

# gooID参照用DB定義
[gooid-read]
type=server
address={{ gooid_read }}
port=3306
protocol=MariaDBBackend

# gooID更新用DB定義
[gooid-write]
type=server
address={{ gooid_write }}
port=3306
protocol=MariaDBBackend

# idhub参照用DB定義
[idhub-read]
type=server
address={{ idhub_read }}
port=3306
protocol=MariaDBBackend

# idhub更新用DB定義
[idhub-write]
type=server
address={{ idhub_write }}
port=3306
protocol=MariaDBBackend

##################################################################################
# Uncomment this and add MaxScale's IP to proxy_protocol_networks in MariaDB for #
# easier user management: https://mariadb.com/kb/en/proxy-protocol-support/      #
##################################################################################
# proxy_protocol=true

##################################################################################################
# Monitor for the servers                                                                        #
#                                                                                                #
# This will keep MaxScale aware of the state of the servers.                                     #
# MariaDB Monitor documentation:                                                                 #
# https://mariadb.com/kb/en/maxscale-24-02monitors/                                              #
#                                                                                                #
# The GRANTs needed by the monitor user depend on the actual monitor.                            #
# The GRANTs required by the MariaDB Monitor can be found here:                                  #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-monitor/#required-grants #
##################################################################################################

[DB-Monitor]
type=monitor
module=mariadbmon
servers=gooid-read,gooid-write,idhub-read,idhub-write
user={{ mysql.users.monitor.name }}
password={{ mysql.users.monitor.password }}
monitor_interval=60s

# マスク化対象のDBカラムをブラックリスト形式で指定する
# 個人情報を含むカラムをマスク対象として指定
# マスク化一覧表：https://bit.ly/4m2Jn4V
# 参考サイト：https://qiita.com/takarake/items/1f1404b52eabc98e3821

[Masking]
type=filter
module=masking
rules=/etc/maxscale.cnf.d/masking_rules.json
warn_type_mismatch=always
large_payload=ignore

##################################################################################################################
# Uncomment these to enable automatic node failover:                                                             #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-monitor/#cluster-manipulation-operations #
#                                                                                                                #
# The GRANTs required for automatic node failover can be found here:                                             #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-monitor/#cluster-manipulation-grants     #
##################################################################################################################
# auto_failover=true
# auto_rejoin=true
# enforce_simple_topology=true
# replication_user=<username used for replication>
# replication_password=<password used for replication>
#########################################################################################################
# Uncomment this if you use more than one MaxScale with automatic node failover:                        #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-monitor/#cooperative-monitoring #
#########################################################################################################
# cooperative_monitoring_locks=majority_of_all

#########################################################################################################
# Service definitions                                                                                   #
#                                                                                                       #
# Service Definition for a read-only service and a read/write splitting service.                        #
#                                                                                                       #
# The GRANTs needed by the service user can be found here:                                              #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-authentication-modules/#required-grants #
#########################################################################################################


[Gooid-Read-Only-Service]
type=service
router=readconnroute
servers=gooid-read
# ここで指定される User/Passwdは、あくまでmaxscaleが接続の際にmysqlユーザーリストを取得するためのもの。※なぜユーザーリストを取得するのかは不明
# バックエンドDBの接続に、このUser/Passwdで限定されるわけではないので注意。
# See also. https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-maxscale-configuration-guide/#user
# ※1
user={{ mysql.users.monitor.name }}
password={{ mysql.users.monitor.password }}
filters=Masking

[Gooid-Read-Write-Service]
type=service
router=readconnroute
# 前述 ※1 と同様
servers=gooid-write
user={{ mysql.users.monitor.name }}
password={{ mysql.users.monitor.password }}
filters=Masking

[Idhub-Read-Only-Service]
type=service
router=readconnroute
servers=idhub-read
# 前述 ※1 と同様
user={{ mysql.users.monitor.name }}
password={{ mysql.users.monitor.password }}
filters=Masking

[Idhub-Read-Write-Service]
type=service
router=readconnroute
servers=idhub-write
# 前述 ※1 と同様
user={{ mysql.users.monitor.name }}
password={{ mysql.users.monitor.password }}
filters=Masking

####################################################################################################
# Uncomment these to enable transparent transaction replay on node failure:                        #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-readwritesplit/#transaction_replay #
####################################################################################################
# transaction_replay=true
# transaction_replay_timeout=30s

####################################################################
# Listener definitions for the services                            #
#                                                                  #
# These listeners represent the ports the services will listen on. #
####################################################################

[Gooid-Read-Only-Listener]
type=listener
service=Gooid-Read-Only-Service
port=7033

[Gooid-Read-Write-Listener]
type=listener
service=Gooid-Read-Write-Service
port=7034

[Idhub-Read-Only-Listener]
type=listener
service=Idhub-Read-Only-Service
port=8033

[Idhub-Read-Write-Listener]
type=listener
service=Idhub-Read-Write-Service
port=8034
