<Context path="/d_help" reloadable="false" workDir="/usr/local/tomcat/work/Catalina/localhost/d_help">
    <Resource
        name="UpdateDB"
        auth="Container"
        type="javax.sql.DataSource"
        username="{{ mysql_writer_name }}"
        password="{{ mysql_writer_password }}"
        driverClassName="org.mariadb.jdbc.Driver"
        url="jdbc:mariadb://{{mysql_writer_host}}/PDB02?autoReconnect=true"
        maxTotal="250"
        maxWaitMillis="10000"
        maxIdle="250"
        removeAbandonedOnBorrow="true"
        removeAbandonedTimeout="300"
        validationQuery="select 1"
    />
    <Resource
        name="SessionDB"
        auth="Container"
        type="javax.sql.DataSource"
        username="{{ mysql_writer_name }}"
        password="{{ mysql_writer_password }}"
        driverClassName="org.mariadb.jdbc.Driver"
        url="jdbc:mariadb://{{mysql_writer_host}}/PDB02?autoReconnect=true"
        maxTotal="250"
        maxWaitMillis="10000"
        maxIdle="250"
        removeAbandonedOnBorrow="true"
        removeAbandonedTimeout="300"
        validationQuery="select 1"
    />
    <Resource
        name="SelectDB"
        auth="Container"
        type="javax.sql.DataSource"
        username="{{ mysql_reader_name }}"
        password="{{ mysql_reader_password }}"
        driverClassName="org.mariadb.jdbc.Driver"
        url="jdbc:mariadb://{{mysql_reader_host}}/PDB02?autoReconnect=true"
        maxTotal="250"
        maxWaitMillis="10000"
        maxIdle="250"
        removeAbandonedOnBorrow="true"
        removeAbandonedTimeout="300"
        validationQuery="select 1"
    />
</Context>
