#!/bin/sh

JAVA_HOME=/usr/java/default
CATALINA_HOME=/opt/tomcat
CATALINA_BASE=/usr/local/tomcat
JAVA_OPTS="-server"
{% if release_env == 'dev' %}
#
# 2024-12-26
#     メモリ2GB搭載の gooid-30-dev-hlp-501 にて
#     OOM KillerによりTomcatプロセスが停止させられてしまう、という事象が発生。
#         -Xms1024m: 初期ヒープサイズのデフォルト 1024M
#         -Xmx1024m: 最大ヒープサイズのデファルト 1024M
#     を縮小して起動することとする。
#
#     ** 開発環境のみ **
#
#     本ファイルが存在 catalina.sh がコールし環境変数を読み込んでくれる。
#

#CATALINA_OPTS="-Xms1024m -Xmx1024m -XX:+PrintGCDetails -Xloggc:/var/log/tomcat/gc.`date '+%Y-%m-%d-%H%M%S'`.log"
###CATALINA_OPTS="-Xms1024m -Xmx1024m"
CATALINA_OPTS="-Xms256m -Xmx512m"
{% else %}
#CATALINA_OPTS="-Xms1024m -Xmx1024m -XX:+PrintGCDetails -Xloggc:/var/log/tomcat/gc.`date '+%Y-%m-%d-%H%M%S'`.log"
CATALINA_OPTS="-Xms1024m -Xmx1024m"
{% endif %}
