[Unit]
Description=rpm collection timer

[Timer]
OnCalendar=Tue *-*-8..14 12:00:00
RandomizedDelaySec=0
AccuracySec=1s
Persistent=true
Unit=dnf-automatic-rpm-collection.service

[Install]
WantedBy=timers.target
