[Unit]
Description=dnf-automatic-download timer
# このファイルはダウンロードまで行う際に有効化する インストールを行う場合は有効化しない
# See comment in dnf-makecache.service
ConditionPathExists=!/run/ostree-booted
Wants=network-online.target

[Timer]
# DayOfWeek Year-Month-Day Hour:Minute:Second
# 以下の場合、毎月の1日から4日まで、月曜日か火曜日の場合にのみ、午後0時にサービスを実行
# OnCalendar=Mon,Tue *-*-01..04 12:00:00
# 毎月第二火曜 10時 に実行    8日～14日の中に第二火曜日は存在する *-*-1..7 なら第一
OnCalendar=Tue *-*-8..14 10:00:00
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=timers.target