# DBバックアップのためのcron設定
# DBバックアップは以下のサーバーにて実施しています
# 退避DBバックアップ -> gooid-21-pro-edb-001/002
# gooid-DBバックアップ-> gooid-21-pro-mdb-004
# idhub-DBバックアップ-> idhub-21-pro-mdb-004

{% if inventory_hostname_short is regex("gooid-21-pro-edb-001$") %}
# {{inventory_hostname_short}} では、奇数日に実行します。
# DB daily backup - gooid (archive)
3 1 1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31 * * root /usr/local/bin/db-backup.sh > /dev/null 2>&1
{% endif %}

{% if inventory_hostname_short is regex("gooid-21-pro-edb-002$") %}
# {{inventory_hostname_short}} では、偶数日に実行します。
# DB daily backup - gooid (archive)
3 1 2,4,6,8,10,12,14,16,18,20,22,24,26,28,30 * * root /usr/local/bin/db-backup.sh > /dev/null 2>&1
{% endif %}
