#########################################
# HOSTLIST
#
# (の後ろと)の前は必ずスペースを空けてください 
#########################################
{% if release_env == "pro" %}
hostlist=( idhub-21-pro-web-001 idhub-21-pro-web-002 idhub-21-pro-web-003 idhub-21-pro-web-004 )
{% elif release_env == "dev" %}
hostlist=( idhub-30-dev-web-101 idhub-30-dev-web-201 idhub-30-dev-web-301 idhub-30-dev-web-401 idhub-30-dev-web-501 idhub-30-dev-web-601 )
{% endif %}
#
#########################################
# LOGLIST
# 
# $PASTDATE1 = yyyymmdd
# $PASTDATE2 = yyyy-mm-dd
# $HOSTNAME  = $host (ホスト名に置換されます)
#
# 書式
# LogList:転送元ディレクトリ名:転送ファイル名:転送先ディレクトリ名
#                        OR
# NOERROR_LogList:転送元ディレクトリ名:転送ファイル名:転送先ディレクトリ名
# (コロン区切りのため、コンフィグ内にコロンを使うことはできません)
# (転送先ディレクトリ名のプレフィクスは、実行ファイル内に記述します。)
# (NOERRORの場合はエラー報告メールが飛びません)
# (NOERRORの場合のみ、ファイル名の指定に*が使用できます。)
#
#########################################
NOERROR_LogList:/home/log/tmp/var/log/app/idhub/:root.log.$PASTDATE2.gz:/$HOSTNAME/var/log/app/idhub/
NOERROR_LogList:/home/log/tmp/var/log/app/idhub/:user.log.$PASTDATE2.gz:/$HOSTNAME/var/log/app/idhub/
#idhub-oidcはログの出力方式をソース側で変更する必要あり
#NOERROR_LogList:/home/log/tmp/var/log/app/idhub-oidc/:oidc_request.log.$PASTDATE2.gz:/$HOSTNAME/var/log/app/idhub/
#NOERROR_LogList:/home/log/tmp/var/log/app/idhub-oidc/:oidc_audit.log.$PASTDATE2.gz:/$HOSTNAME/var/log/app/idhub/
NOERROR_LogList:/home/log/tmp/var/log/httpd/:access_log.$PASTDATE2.gz:/$HOSTNAME/var/log/httpd/
NOERROR_LogList:/home/log/tmp/var/log/httpd/:error_log.$PASTDATE2.gz:/$HOSTNAME/var/log/httpd/
NOERROR_LogList:/home/log/tmp/var/log/tomcat/idc/:catalina.$PASTDATE2.log.gz:/$HOSTNAME/var/log/tomcat/idc/
NOERROR_LogList:/home/log/tmp/var/log/tomcat/idc/:localhost.$PASTDATE2.log.gz:/$HOSTNAME/var/log/tomcat/idc/
NOERROR_LogList:/home/log/tmp/var/log/:messages-$PASTDATE2.gz:/$HOSTNAME/var/log/
NOERROR_LogList:/home/log/tmp/var/log/sa/:sa.$PASTDATE2.gz:/$HOSTNAME/var/log/sa/
NOERROR_LogList:/home/log/tmp/var/log/:secure-$PASTDATE2.gz:/$HOSTNAME/var/log/
