#########################################
# HOSTLIST
#
# (の後ろと)の前は必ずスペースを空けてください 
#########################################
{% if release_env == "pro" %}
hostlist=( gooid-21-pro-fgw-001 gooid-21-pro-fgw-002 )
{% elif release_env == "dev" %}
hostlist=( gooid-30-dev-fgw-101 gooid-30-dev-fgw-201 gooid-30-dev-fgw-301 gooid-30-dev-fgw-401 gooid-30-dev-fgw-501 gooid-30-dev-fgw-601 )
{% endif %}
#
#########################################
# LOGLIST
# 
# $PASTDATE1 = yyyymmdd
# $PASTDATE2 = yyyy-mm-dd
# $HOSTNAME  = $host (ホスト名に置換されます)
#
# 書式
# LogList:転送元ディレクトリ名:転送ファイル名:転送先ディレクトリ名
#                        OR
# NOERROR_LogList:転送元ディレクトリ名:転送ファイル名:転送先ディレクトリ名
# (コロン区切りのため、コンフィグ内にコロンを使うことはできません)
# (転送先ディレクトリ名のプレフィクスは、実行ファイル内に記述します。)
# (NOERRORの場合はエラー報告メールが飛びません)
# (NOERRORの場合のみ、ファイル名の指定に*が使用できます。)
#
#########################################
NOERROR_LogList:/home/log/tmp/var/log/httpd/:access_log.$PASTDATE1.gz:/$HOSTNAME/var/log/httpd/
NOERROR_LogList:/home/log/tmp/var/log/httpd/:error_log.$PASTDATE1.gz:/$HOSTNAME/var/log/httpd/
NOERROR_LogList:/home/log/tmp/var/log/httpd/:ssl_access_log.$PASTDATE1.gz:/$HOSTNAME/var/log/httpd/
NOERROR_LogList:/home/log/tmp/var/log/httpd/:ssl_error_log.$PASTDATE1.gz:/$HOSTNAME/var/log/httpd/
NOERROR_LogList:/home/log/tmp/var/log/:messages-$PASTDATE2.gz:/$HOSTNAME/var/log/
NOERROR_LogList:/home/log/tmp/var/log/sa/:sa.$PASTDATE2.gz:/$HOSTNAME/var/log/sa/
NOERROR_LogList:/home/log/tmp/var/log/:secure-$PASTDATE2.gz:/$HOSTNAME/var/log/
