#!/bin/sh

JAVA_HOME=/usr/java/default
CATALINA_HOME=/opt/tomcat
CATALINA_BASE=/usr/local/tomcat
JAVA_OPTS="-server"

# 2025-3-11
# EDBはアクセス頻度が低いため、Tomcatのメモリを以下の通りに見直し、最適化を図ることとする。
CATALINA_OPTS="-Xms256m -Xmx512m"
#CATALINA_OPTS="-Xms1024m -Xmx1024m -XX:+PrintGCDetails -Xloggc:/var/log/tomcat/gc.`date '+%Y-%m-%d-%H%M%S'`.log"
#CATALINA_OPTS="-Xms1024m -Xmx1024m"


