# アプリケーションのアクセスコントロール
# ----------------------------------------------------------------------
# 権利照会IF/お客様番号照会IF
### k5ito : 2020-11-22 暫定的に、Botmakerのアクセス元IPが不特定多数のGCPであるため、全許可とします。
### k5ito : Botmaker側で固定IPが確定次第、./backup/access_control.conf.2020-11-20 のファイルに戻してください。
### d-higa : 2020-12-08 haberoid関連でアクセス許可をしてほしいとの連絡を受けた。
### d-higa : 下記コメントにhaveroidのIPを追記したので、BotmakerのIPが確定した際には
### d-higa : 2020-11-20のファイルに戻すのではなく、本設定の下記コメントアウトを解除すること
#k5ito#<LocationMatch "^/gbs/(showRights|gooCustomerNumRef)/">
#k5ito#    Require all denied
#k5ito#    # 社内LAN
#k5ito#    Require ip 202.217.72.192/27
#k5ito#    # デジコン - k5ito: to be removed : no access in last month
#k5ito#    Require ip 210.144.64.11
#k5ito#    # gooブログ - k5ito: to be removed : no access in last month
#k5ito#    Require ip 202.217.72.80 202.217.72.87
#k5ito#    # blog @ MS, pro-batch, pro-web - k5ito : to be removed : after DC migration
#k5ito#    Require ip 153.254.170.6 153.254.147.117
#k5ito#    # blog @ R, stg, pro
#k5ito#    Require ip 114.179.184.62/32 114.179.184.64/32
#k5ito#    # gooメール
#k5ito#    Require ip 202.217.73.18 202.217.73.19
#k5ito#    # goo of things - 見守り電球
#k5ito#    Require ip 52.198.169.14 52.196.18.139 18.178.251.188 54.65.252.193 54.168.122.156 35.76.198.248
#k5ito#    # bot maker
#k5ito#    Require ip 34.68.152.202 35.222.116.32 34.102.255.175 34.72.210.100 35.232.32.85 34.71.23.204 34.69.18.198 34.123.248.165
#k5ito#    # Telop by goo
#k5ito#    Require ip 18.176.184.49
#d-higa#   # haberoid
#d-higa#   Require ip 180.43.28.50 153.163.214.8 52.194.133.35
#k5ito#</LocationMatch>

# ちょコム向けIF
<LocationMatch "^/gbs/settlementInfReg/(demConfidenceResult|demMemberInf|demConfidenceNewResult)">
    Require all denied
    # NTTレゾナント 大手町
    Require ip 202.217.74.160/28
    Require ip 153.143.181.0/28
    # NTTレゾナントVDI
    Require ip 203.138.153.247/32
    # 2024/9/11 追加 NTTレゾナントVDI
    Require ip 202.217.74.160/28
    # ちょコムサーバ
    Require ip 210.144.14.155 210.144.14.156
    # ちょコムサーバ 2023新環境
    Require ip 210.144.34.91 210.144.34.92
</LocationMatch>

# リモート課金決済事前準備IF
<LocationMatch "^/gbs/goodsInfoPreRegist/nomalGoods">
    Require all denied
    # Require ip [IPAddress of gooService]
    # Require all granted
    # 社内LAN,ローカルホスト
    Require ip 127.0.0.1
    Require ip 202.217.72.192/27
    Require ip 202.217.73.0/24

    # NTTレゾナント 大手町
    Require ip 202.217.74.160/28
    Require ip 153.143.181.0/28

    # NTTレゾナントVDI
    Require ip 203.138.153.247/32
    # 2024/9/11 追加 NTTレゾナントVDI
    Require ip 202.217.74.160/28
    ### gooID/goo gbs/idhub, 2022 generation
    # gooid-21-pro-web-00[1-4]
    Require ip 202.217.75.82
    # srvc.goo.ne.jp (inbound/dns only)
    Require ip 202.217.75.83
    # gooid-21-pro-oidc-00[1-3]
    Require ip 202.217.75.84
    # gooid-21-pro-rproxy-00[1-2]
    Require ip 202.217.75.85
    # idhub-21-pro-web-00[1-4]
    Require ip 202.217.75.86
    # idhub-21-pro-rproxy-00[1-2]
    Require ip 202.217.75.87

    # 20000645 マルジャン
    Require ip 61.114.182.167
    Require ip 202.239.31.128/25
    # 20001649 地域広告PPC
    Require ip 153.254.148.133
    # 30000093 ファンフィール（占い）
    Require ip 210.230.200.220
</LocationMatch>

# アプリケーションのアクセスコントロール
# 権利系は内部アクセスへ集約
<LocationMatch "^/gbs/rights">
    Require all denied
    # Require all granted
    # 課金IDプライベードNW
    Require ip 127.0.0.1
    Require ip 172.25.0.0/16
    Require ip 10.23.100.0/23
    Require ip 10.23.102.0/24

    ### gooID/goo gbs/idhub, 2016 generation
    Require ip 202.217.73.0/24

    ### gooID/goo gbs/idhub, 2022 generation
    # gooid-21-pro-web-00[1-4]
    Require ip 202.217.75.82
    # srvc.goo.ne.jp (inbound/dns only)
    Require ip 202.217.75.83
    # gooid-21-pro-oidc-00[1-3]
    Require ip 202.217.75.84
    # gooid-21-pro-rproxy-00[1-2]
    Require ip 202.217.75.85
    # idhub-21-pro-web-00[1-4]
    Require ip 202.217.75.86
    # idhub-21-pro-rproxy-00[1-2]
    Require ip 202.217.75.87
</LocationMatch>
