# アプリケーションのアクセスコントロール
# ----------------------------------------------------------------------
# 権利照会IF/お客様番号照会IF
<LocationMatch "^/gbs/(showRights|gooCustomerNumRef)/">
    # 社内LAN
    # Require ip 202.217.72.192/27
    #
    # Require ip 210.144.64.11
    # goo Blog
    # Require ip 202.217.72.80 202.217.72.87
    #
    # Require ip 202.217.73.18 202.217.73.19
    Require all granted
</LocationMatch>

# ちょコム向けIF
<LocationMatch "^/gbs/settlementInfReg/(demConfidenceResult|demMemberInf|demConfidenceNewResult)">
    Require all granted
</LocationMatch>

# リモート課金決済事前準備IF
<LocationMatch "^/gbs/goodsInfoPreRegist/nomalGoods">
    # Require ip [IPAddress of gooService]
    Require all granted
</LocationMatch>

# アプリケーションのアクセスコントロール
# 権利系は内部アクセスへ集約
<LocationMatch "^/gbs/rights">
    #
    # Require ip 127.0.0.1
    Require all granted
</LocationMatch>
