<?php
header("Content-type: application/json");

if (isset($_GET['id']) === TRUE) {
    $gooid = $_GET['id'];
}else{
    $gooid = $_POST['id'];
}
# ブログ利用中
print "{\"gooid\":\"" . $gooid ."\",\"user_status\":\"0\",\"auth\":\"free\"}";
# ブログ退会済み
#print "{\"gooid\":\"" . $gooid ."\",\"user_status\":\"2\",\"auth\":\"free\"}";
?>
