###
### 2022 HW更改メンテナンス
###

ErrorDocument 503 /maintenance.html



## NTT Resonant Global IP : https://bit.ly/3OKKm99

### NTTレゾナント長岡(VDI)
SetEnvIf Remote_Addr "^203\.138\.153\.247$" IGNORE_MAINTENANCE=yes
### NTTレゾナント長岡(VDI)
SetEnvIf Remote_Addr "^153\.254\.171\.([0-9]|1[0-5])$" IGNORE_MAINTENANCE=yes
### 長岡Rクラウド
SetEnvIf Remote_Addr "^61\.113\.104\." IGNORE_MAINTENANCE=yes
### 長岡Rクラウド
SetEnvIf Remote_Addr "^114\.179\.184\." IGNORE_MAINTENANCE=yes
### 長岡Rクラウド
SetEnvIf Remote_Addr "^219\.164\.251\." IGNORE_MAINTENANCE=yes
### NTTレゾナント大手町オフィス(reso-intra(有線無線))
SetEnvIf Remote_Addr "^153\.143\.181\." IGNORE_MAINTENANCE=yes
### NTTレゾナント大手町オフィス - セカンダリ (reso-intra(有線無線))
SetEnvIf Remote_Addr "^202\.217\.74\.1[67][0-9]$" IGNORE_MAINTENANCE=yes
### NTTレゾナント大手町オフィス(reso-wifi(有線無線))
SetEnvIf Remote_Addr "^153\.143\.181\.(1[6-9]|2[0-9]|3[01])$" IGNORE_MAINTENANCE=yes


## NTT Resonant Global IP : http://bit.ly/2Orr0ro

### 三鷹-goonet
SetEnvIf Remote_Addr "^210\.144\.64\\." IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^202\.217\.72\." IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^202\.217\.73\\." IGNORE_MAINTENANCE=yes
### 三鷹ホスティング環境（含む gooid-21/idhub-21）
SetEnvIf Remote_Addr "^202\.217\.75\." IGNORE_MAINTENANCE=yes

### GIN-HB
SetEnvIf Remote_Addr "^120\.88\.55\." IGNORE_MAINTENANCE=yes
### 長岡Rクラウド
SetEnvIf Remote_Addr "^61\.113\.104\." IGNORE_MAINTENANCE=yes
### JIG-SAW社監視拠点
SetEnvIf Remote_Addr "^219\.167\.251\." IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^124\.38\.245\.90$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^221\.245\.250\.58$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^203\.141\.136\.194$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^210\.229\.179\.170$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^211\.128\.86\.1(2[89]|[2-5][0-9])$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^117\.102\.183\.51$" IGNORE_MAINTENANCE=yes
#### Puzzle
SetEnvIf Remote_Addr "^35\.200\.36\.54$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^35\.200\.63\.242$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^35\.197\.17\.40$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^35\.199\.191\.1$" IGNORE_MAINTENANCE=yes
### JIG-SAW社監視拠点
SetEnvIf Remote_Addr "^96\.45\.197\.202$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^72\.138\.67\.8[0-7]$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^58\.12\.243\.2[0-9][0-9]$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^221\.245\.235\.2[45][0-9]$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^221\.115\.122\.18$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^150\.249\.201\.237$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^58\.157\.254\.162$" IGNORE_MAINTENANCE=yes


# 下記記載のものは全て上記に含まれている

## Cloud Foundary on R-Cloud
##61.113.104.174
##61.113.104.175

## point
### op.point.goo.ne.jp, AD/AP server on Mitaka-DC
###202.217.75.122
### api.point.goo.ne.jp on Mitaka-DC
###202.217.75.123

### OCN たまる・つかう や GOOxD, on R-Cloud
###114.179.184.48
###114.179.184.177
###114.179.184.191
###114.179.184.193
###114.179.184.194
###114.179.184.195
###114.179.184.196


## Interlink VPM
SetEnvIf Remote_Addr "^153\.127\.197\.88$" IGNORE_MAINTENANCE=yes

# CNS (2025-02: IP変更に伴い "118.～","155.～" を追加。当面新旧併用)
SetEnvIf Remote_Addr "^210\.162\.169\.106$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^118\.238\.220\.252$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^155\.190\.52\.82$" IGNORE_MAINTENANCE=yes

## localhost
SetEnvIf Remote_Addr "^127\.0\.0\.1$" IGNORE_MAINTENANCE=yes

## Private IP (RFC 1380, RFC 1597) : https://bit.ly/3vnYSw7
SetEnvIf Remote_Addr "^10\." IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^172\.(1[6-9]|2[0-9]|3[0-1])\." IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^192\.168\." IGNORE_MAINTENANCE=yes

## ちょコム
SetEnvIf Remote_Addr "^210\.144\.14\.155$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^210\.144\.14\.156$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^210\.144\.14\.171$" IGNORE_MAINTENANCE=yes

## ベリトランス
SetEnvIf Remote_Addr "^210\.239\.44\\.160$" IGNORE_MAINTENANCE=yes

## OCN マイページ
### マイペ本番環境（東）
SetEnvIf Remote_Addr "^61\.118\.33\\.15[234]$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^61.118.33.228$" IGNORE_MAINTENANCE=yes
### マイペ本番環境（西）
SetEnvIf Remote_Addr "^210\.145\.245\\.14[5678]$" IGNORE_MAINTENANCE=yes

### SimSeleer Ebisu mart 2022新環境 - https://bit.ly/3FnTlHu
### 2022-05 のメンテナンスでは、「身内だけ確認モード」で、動作確認に帯同するため。
SetEnvIf Remote_Addr "^18\.177\.53\.251$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^3\.114\.215\.117$" IGNORE_MAINTENANCE=yes
SetEnvIf Remote_Addr "^54\.168\.15\.92$" IGNORE_MAINTENANCE=yes

RewriteCond %{REQUEST_URI} !=/maintenance.html
RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpe?g|svg|giff?|ico|mov|mp3|pdf)$
RewriteCond %{ENV:IGNORE_MAINTENANCE} !yes
RewriteRule ^.*$ - [R=503,L]
