
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<!--龠龠龠-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>商品情報更新IFテスト用</title>
<meta name="content-language" content="ja">
<meta name="description" content="">
<meta name="keywords" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<style TYPE="text/css">
<!--
h1 { 
	color: #999999; 
	border-bottom-style: solid;
	border-bottom-color: #888888;
	border-bottom-width: 10px
}

table {
	border: 1px solid #cccccc;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 1px 0px;
}

th {
	background-color: #cccccc;
}

td {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #cccccc;
}

.tc{
	text-align: center;
	background-color: #eeeeee;
}

-->
</style>

</head>
<body>
<h1>商品情報更新IF用フォーム</h1>
<form method="post" action="https://wbo101.goo.ne.jp/gbs/gbsGoodsInfo/regist"> 
<table style="border : 1px solid gray;">
<tr>
<th>番号</th>
<th>名称(パラメータ名)</th>
<th>パラメータ名</th>
<th>必須項目</th>
<th>文字種別（サイズ）</th>
<th>入力フィールド</th>
</tr>
<tr>
	<td class="tc">1</td>
	<td>svc_sign</td>
	<td>svc_sign</td>
	<td class="tc">◎</td>
	<td class="tc">―(―)</td>
	<td><input type="text" name="svc_sign" value="18b4a0c8003d26668e0d337896d92ceae6e9218b3ab2f978dcd27053d397f472" size="70"></td>
</tr>
<tr>
	<td class="tc">2</td>
	<td>ストアコード</td>
	<td>store_cd</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(8)</td>
	<td><input type="text" name="store_cd" value="20002117" size="8"></td>
</tr>
<tr>
	<td class="tc">3</td>
	<td>商品コード</td>
	<td>goods_cd</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(5)</td>
	<td><input type="text" name="goods_cd" value="90001" size="5"></td>
</tr>
<tr>
	<td class="tc">4</td>
	<td>ストア商品コード</td>
	<td>store_goods_cd</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(60)</td>
	<td><input type="text" name="store_goods_cd" value="test90001" size="60"></td>
</tr>
<tr>
	<td class="tc">5</td>
	<td>商品タイプコード</td>
	<td>goods_type_cd</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="goods_type_cd" value="10" size="10"></td>
</tr>
<tr>
	<td class="tc">6</td>
	<td>デフォルト商品単価</td>
	<td>default_goods_price</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="default_goods_price" value="410" size="9"></td>
</tr>
<tr>
	<td class="tc">7</td>
	<td>販売開始日時(年)</td>
	<td>selling_start_time_year</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(4)</td>
	<td><input type="text" name="selling_start_time_year" value="2010" size="4"></td>
</tr>
<tr>
	<td class="tc">8</td>
	<td>販売開始日時月)</td>
	<td>selling_start_time_month</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_start_time_month" value="04" size="2"></td>
</tr>
<tr>
	<td class="tc">9</td>
	<td>販売開始日時(日)</td>
	<td>selling_start_time_day</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_start_time_day" value="01" size="2"></td>
</tr>
<tr>
	<td class="tc">10</td>
	<td>販売開始日時(時)</td>
	<td>selling_start_time_hour</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_start_time_hour" value="00" size="2"></td>
</tr>
<tr>
	<td class="tc">11</td>
	<td>販売開始日時(分)</td>
	<td>selling_start_time_minute</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_start_time_minute" value="00" size="2"></td>
</tr>
<tr>
	<td class="tc">12</td>
	<td>販売終了日時(年)</td>
	<td>selling_end_time_year</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(4)</td>
	<td><input type="text" name="selling_end_time_year" value="2199" size="4"></td>
</tr>
<tr>
	<td class="tc">13</td>
	<td>販売終了日時(月)</td>
	<td>selling_end_time_month</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_end_time_month" value="01" size="2"></td>
</tr>
<tr>
	<td class="tc">14</td>
	<td>販売終了日時(日)</td>
	<td>selling_end_time_day</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_end_time_day" value="01" size="2"></td>
</tr>
<tr>
	<td class="tc">15</td>
	<td>販売終了日時(時)</td>
	<td>selling_end_time_hour</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_end_time_hour" value="23" size="2"></td>
</tr>
<tr>
	<td class="tc">16</td>
	<td>販売終了日時(分)</td>
	<td>selling_end_time_minute</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_end_time_minute" value="59" size="2"></td>
</tr>
<tr>
	<td class="tc">17</td>
	<td>権利有効種別</td>
	<td>rights_valid_type</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(3)</td>
	<td><input type="text" name="rights_valid_type" value="6" size="3"></td>
</tr>
<tr>
	<td class="tc">18</td>
	<td>権利有効期間</td>
	<td>rights_valid_term</td>
	<td class="tc"></td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="rights_valid_term" value="1" size="2"></td>
</tr>
<tr>
	<td class="tc">19</td>
	<td>販売停止フラグ</td>
	<td>selling_stop_flag</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(1)</td>
	<td><input type="text" name="selling_stop_flag" value="0" size="1"></td>
</tr>
<tr>
	<td class="tc">20</td>
	<td>商品URL</td>
	<td>goods_url</td>
	<td class="tc">◎</td>
	<td class="tc">半角英数記号(2000)</td>
	<td><input type="text" name="goods_url" value="http://bb.goo.ne.jp/contents/program/boobomusic/strm01/index.html" size="70"></td>
</tr>
<tr>
	<td class="tc">21</td>
	<td>購入完了URL</td>
	<td>selling_complete_url</td>
	<td class="tc">◎</td>
	<td class="tc">半角英数記号(2000)</td>
	<td><input type="text" name="selling_complete_url" value="http://bb.goo.ne.jp/contents/program/boobomusic/strm01/index.html" size="70"></td>
</tr>
<tr>
	<td class="tc">22</td>
	<td>商品名</td>
	<td>goods_name</td>
	<td class="tc">◎</td>
	<td class="tc">全角(50)</td>
	<td><input type="text" name="goods_name" value="テスト商品一号" size="50"></td>
</tr>
<tr>
	<td class="tc">23</td>
	<td>商品説明</td>
	<td>goods_note</td>
	<td class="tc">◎</td>
	<td class="tc">全角(512)</td>
	<td><input type="text" name="goods_note" value="これはテスト商品です" size="70"></td>
</tr>
<tr>
	<td class="tc">24</td>
	<td>商品説明URL</td>
	<td>goods_note_url</td>
	<td class="tc"></td>
	<td class="tc">半角英数記号(2000)</td>
	<td><input type="text" name="goods_note_url" value="" size="70"></td>
</tr>
<tr>
	<td class="tc">25</td>
	<td>自動継続フラグ</td>
	<td>auto_cont_flag</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(1)</td>
	<td><input type="text" name="auto_cont_flag" value="0" size="1"></td>
</tr>
<tr>
	<td class="tc">26</td>
	<td>モバイル商品URL</td>
	<td>mob_goods_url</td>
	<td class="tc"></td>
	<td class="tc">半角英数記号(2000)</td>
	<td><input type="text" name="mob_goods_url" value="" size="70"></td>
</tr>
<tr>
	<td class="tc">27</td>
	<td>モバイル商品購入完了URL</td>
	<td>mob_selling_complete_url</td>
	<td class="tc"></td>
	<td class="tc">半角英数記号(2000)</td>
	<td><input type="text" name="mob_selling_complete_url" value="" size="70"></td>
</tr>
<tr>
	<td class="tc">28</td>
	<td>モバイル商品説明</td>
	<td>mob_goods_note</td>
	<td class="tc"></td>
	<td class="tc">全角(512)</td>
	<td><input type="text" name="mob_goods_note" value="" size="70"></td>
</tr>
<tr>
	<td class="tc">29</td>
	<td>goo手数料率</td>
	<td>goo_fee_rate</td>
	<td class="tc"></td>
	<td class="tc">半角数(6)</td>
	<td><input type="text" name="goo_fee_rate" value="" size="6"></td>
</tr>
<tr>
	<td class="tc">30</td>
	<td>単品ID</td>
	<td>unit_id</td>
	<td class="tc"></td>
	<td class="tc">半角数(60)</td>
	<td><input type="text" name="unit_id" value="" size="60"></td>
</tr>
<tr>
	<td class="tc">31</td>
	<td>サービス用セットID</td>
	<td>gbs_sid</td>
	<td class="tc"></td>
	<td class="tc">半角英数(60)</td>
	<td><input type="text" name="gbs_sid" value="" size="60"></td>
</tr>
<tr>
	<td class="tc">32</td>
	<td>販売ID</td>
	<td>selling_id</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="selling_id" value="" size="2"></td>
</tr>
<tr>
	<td class="tc">33</td>
	<td>サービスID</td>
	<td>service_id</td>
	<td class="tc"></td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="service_id" value="01" size="2"></td>
</tr>
<tr>
	<td class="tc">34</td>
	<td>無料種別</td>
	<td>free_type</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="free_type" value="0" size="2"></td>
</tr>
<tr>
	<td class="tc">35</td>
	<td>無料期間</td>
	<td>free_term</td>
	<td class="tc"></td>
	<td class="tc">半角数(2)</td>
	<td><input type="text" name="free_term" value="" size="2"></td>
</tr>
<tr>
	<td class="tc">36</td>
	<td>無料期間中退会可能フラグ</td>
	<td>free_term_delete_ok_flag</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(1)</td>
	<td><input type="text" name="free_term_delete_ok_flag" value="1" size="1"></td>
</tr>
<tr>
	<td class="tc">37</td>
	<td>コンテンツプロキシURL</td>
	<td>contents_proxy_url</td>
	<td class="tc"></td>
	<td class="tc">半角英数記号(2000)</td>
	<td><input type="text" name="contents_proxy_url" value="" size="70"></td>
</tr>
<tr>
	<td class="tc">38</td>
	<td>コンテンツサーバURL</td>
	<td>contents_proxy_server_url</td>
	<td class="tc"></td>
	<td class="tc">半角英数記号(2000)</td>
	<td><input type="text" name="contents_proxy_server_url" value="" size="70"></td>
</tr>
<tr>
	<td class="tc">39</td>
	<td>gooID決済</td>
	<td>sttl_service_cd_goo</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(1)</td>
	<td><input type="text" name="sttl_service_cd_goo" value="1" size="1"></td>
</tr>
<tr>
	<td class="tc">40</td>
	<td>ぷらら</td>
	<td>sttl_service_cd_plala</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(1)</td>
	<td><input type="text" name="sttl_service_cd_plala" value="1" size="1"></td>
</tr>
<tr>
	<td class="tc">41</td>
	<td>OCN</td>
	<td>sttl_service_cd_ocn</td>
	<td class="tc">◎</td>
	<td class="tc">半角数(1)</td>
	<td><input type="text" name="sttl_service_cd_ocn" value="1" size="1"></td>
</tr>
<tr>
	<td class="tc">42</td>
	<td>商品単価1</td>
	<td>goods_price1</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price1" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">43</td>
	<td>適応開始日時1</td>
	<td>price_start_time1</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time1" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">44</td>
	<td>適応終了日時1</td>
	<td>price_end_time1</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time1" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">45</td>
	<td>商品単価2</td>
	<td>goods_price2</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price2" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">46</td>
	<td>適応開始日時2</td>
	<td>price_start_time2</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time2" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">47</td>
	<td>適応終了日時2</td>
	<td>price_end_time2</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time2" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">48</td>
	<td>商品単価3</td>
	<td>goods_price3</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price3" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">49</td>
	<td>適応開始日時3</td>
	<td>price_start_time3</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time3" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">50</td>
	<td>適応終了日時3</td>
	<td>price_end_time3</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time3" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">51</td>
	<td>商品単価4</td>
	<td>goods_price4</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price4" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">52</td>
	<td>適応開始日時4</td>
	<td>price_start_time4</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time4" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">53</td>
	<td>適応終了日時4</td>
	<td>price_end_time4</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time4" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">54</td>
	<td>商品単価5</td>
	<td>goods_price5</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price5" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">55</td>
	<td>適応開始日時5</td>
	<td>price_start_time5</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time5" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">56</td>
	<td>適応終了日時5</td>
	<td>price_end_time5</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time5" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">57</td>
	<td>商品単価6</td>
	<td>goods_price6</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price6" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">58</td>
	<td>適応開始日時6</td>
	<td>price_start_time6</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time6" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">59</td>
	<td>適応終了日時6</td>
	<td>price_end_time6</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time6" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">60</td>
	<td>商品単価7</td>
	<td>goods_price7</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price7" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">61</td>
	<td>適応開始日時7</td>
	<td>price_start_time7</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time7" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">62</td>
	<td>適応終了日時7</td>
	<td>price_end_time7</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time7" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">63</td>
	<td>商品単価8</td>
	<td>goods_price8</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price8" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">64</td>
	<td>適応開始日時8</td>
	<td>price_start_time8</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time8" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">65</td>
	<td>適応終了日時8</td>
	<td>price_end_time8</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time8" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">66</td>
	<td>商品単価9</td>
	<td>goods_price9</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price9" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">67</td>
	<td>適応開始日時9</td>
	<td>price_start_time9</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time9" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">68</td>
	<td>適応終了日時9</td>
	<td>price_end_time9</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time9" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">69</td>
	<td>商品単価10</td>
	<td>goods_price10</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price10" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">70</td>
	<td>適応開始日時10</td>
	<td>price_start_time10</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time10" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">71</td>
	<td>適応終了日時10</td>
	<td>price_end_time10</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time10" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">72</td>
	<td>商品単価11</td>
	<td>goods_price11</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price11" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">73</td>
	<td>適応開始日時11</td>
	<td>price_start_time11</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time11" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">74</td>
	<td>適応終了日時11</td>
	<td>price_end_time11</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time11" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">75</td>
	<td>商品単価12</td>
	<td>goods_price12</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price12" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">76</td>
	<td>適応開始日時12</td>
	<td>price_start_time12</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time12" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">77</td>
	<td>適応終了日時12</td>
	<td>price_end_time12</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time12" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">78</td>
	<td>商品単価13</td>
	<td>goods_price13</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price13" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">79</td>
	<td>適応開始日時13</td>
	<td>price_start_time13</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time13" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">80</td>
	<td>適応終了日時13</td>
	<td>price_end_time13</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time13" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">81</td>
	<td>商品単価14</td>
	<td>goods_price14</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price14" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">82</td>
	<td>適応開始日時14</td>
	<td>price_start_time14</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time14" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">83</td>
	<td>適応終了日時14</td>
	<td>price_end_time14</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time14" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">84</td>
	<td>商品単価15</td>
	<td>goods_price15</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price15" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">85</td>
	<td>適応開始日時15</td>
	<td>price_start_time15</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time15" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">86</td>
	<td>適応終了日時15</td>
	<td>price_end_time15</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time15" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">87</td>
	<td>商品単価16</td>
	<td>goods_price16</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price16" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">88</td>
	<td>適応開始日時16</td>
	<td>price_start_time16</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time16" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">89</td>
	<td>適応終了日時16</td>
	<td>price_end_time16</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time16" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">90</td>
	<td>商品単価17</td>
	<td>goods_price17</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price17" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">91</td>
	<td>適応開始日時17</td>
	<td>price_start_time17</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time17" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">92</td>
	<td>適応終了日時17</td>
	<td>price_end_time17</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time17" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">93</td>
	<td>商品単価18</td>
	<td>goods_price18</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price18" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">94</td>
	<td>適応開始日時18</td>
	<td>price_start_time18</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time18" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">95</td>
	<td>適応終了日時18</td>
	<td>price_end_time18</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time18" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">96</td>
	<td>商品単価19</td>
	<td>goods_price19</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price19" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">97</td>
	<td>適応開始日時19</td>
	<td>price_start_time19</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time19" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">98</td>
	<td>適応終了日時19</td>
	<td>price_end_time19</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time19" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">99</td>
	<td>商品単価20</td>
	<td>goods_price20</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price20" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">100</td>
	<td>適応開始日時20</td>
	<td>price_start_time20</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time20" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">101</td>
	<td>適応終了日時20</td>
	<td>price_end_time20</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time20" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">102</td>
	<td>商品単価21</td>
	<td>goods_price21</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price21" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">103</td>
	<td>適応開始日時21</td>
	<td>price_start_time21</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time21" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">104</td>
	<td>適応終了日時21</td>
	<td>price_end_time21</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time21" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">105</td>
	<td>商品単価22</td>
	<td>goods_price22</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price22" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">106</td>
	<td>適応開始日時22</td>
	<td>price_start_time22</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time22" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">107</td>
	<td>適応終了日時22</td>
	<td>price_end_time22</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time22" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">108</td>
	<td>商品単価23</td>
	<td>goods_price23</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price23" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">109</td>
	<td>適応開始日時23</td>
	<td>price_start_time23</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time23" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">110</td>
	<td>適応終了日時23</td>
	<td>price_end_time23</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time23" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">111</td>
	<td>商品単価24</td>
	<td>goods_price24</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price24" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">112</td>
	<td>適応開始日時24</td>
	<td>price_start_time24</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time24" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">113</td>
	<td>適応終了日時24</td>
	<td>price_end_time24</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time24" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">114</td>
	<td>商品単価25</td>
	<td>goods_price25</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price25" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">115</td>
	<td>適応開始日時25</td>
	<td>price_start_time25</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time25" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">116</td>
	<td>適応終了日時25</td>
	<td>price_end_time25</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time25" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">117</td>
	<td>商品単価26</td>
	<td>goods_price26</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price26" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">118</td>
	<td>適応開始日時26</td>
	<td>price_start_time26</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time26" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">119</td>
	<td>適応終了日時26</td>
	<td>price_end_time26</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time26" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">120</td>
	<td>商品単価27</td>
	<td>goods_price27</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price27" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">121</td>
	<td>適応開始日時27</td>
	<td>price_start_time27</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time27" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">122</td>
	<td>適応終了日時27</td>
	<td>price_end_time27</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time27" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">123</td>
	<td>商品単価28</td>
	<td>goods_price28</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price28" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">124</td>
	<td>適応開始日時28</td>
	<td>price_start_time28</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time28" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">125</td>
	<td>適応終了日時28</td>
	<td>price_end_time28</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time28" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">126</td>
	<td>商品単価29</td>
	<td>goods_price29</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price29" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">127</td>
	<td>適応開始日時29</td>
	<td>price_start_time29</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time29" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">128</td>
	<td>適応終了日時29</td>
	<td>price_end_time29</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time29" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">129</td>
	<td>商品単価30</td>
	<td>goods_price30</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(9)</td>
	<td><input type="text" name="goods_price30" value="" size="9"></td>
</tr>
<tr>
	<td class="tc">130</td>
	<td>適応開始日時30</td>
	<td>price_start_time30</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_start_time30" value="" size="12"></td>
</tr>
<tr>
	<td class="tc">131</td>
	<td>適応終了日時30</td>
	<td>price_end_time30</td>
	<td class="tc">※3</td>
	<td class="tc">半角数(12)</td>
	<td><input type="text" name="price_end_time30" value="" size="12"></td>
</tr>

</table>
<br>
<div align="center">
<input type="submit" value=" 送 信 ">
<input type="reset" value=" リセット ">
</div>

</form>
</body>
</html>
