<VirtualHost _default_:{{ httpd_gbs_port }}>

RewriteEngine on
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$
RewriteRule .* - [F]

## 2022-05 システム更改
## 外部からはメンテ画面、内部からは通常動作
###IncludeOptional conf/external-maintenance.conf


### 2025-09-30 goo blogサービス終了に伴うリダイレクト設定
# 「goo blogサービス終了のお知らせ」ページへのリダイレクト対象となる URI : (gds_id=00201 OR gds_id=00202 OR gds_id=S0001) AND str_cd=20001051
#     goo blogアドバンス
#       /gbs/sttlServiceSelect/sttlPreRegist?svcid=01&str_cd=20001051&gds_id=00201
#     goo blogフォト
#       /gbs/sttlServiceSelect/sttlPreRegist?svcid=01&str_cd=20001051&gds_id=00202
#     アドバンスパッケージ
#       /gbs/sttlServiceSelect/sttlPreRegist?svcid=01&str_cd=20001051&gds_id=S0001
#
# （以下は対象外となる URI。例）
#     gooメール
#       /gbs/sttlServiceSelect/sttlPreRegist?svcid=01&str_cd=20001051&gds_id=00101
#
# 意味： "(gds_id=00201 OR gds_id=00202 OR gds_id=S0001) AND str_cd=20001051"
RewriteCond %{QUERY_STRING} gds_id=00201 [OR]
RewriteCond %{QUERY_STRING} gds_id=00202 [OR]
RewriteCond %{QUERY_STRING} gds_id=S0001
RewriteCond %{QUERY_STRING} str_cd=20001051

RewriteRule ^/gbs/sttlServiceSelect/sttlPreRegist$ https://blog.goo.ne.jp/info/close.html [R]


# SSL
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
# Private IP (RFC 1380, RFC 1597) : https://bit.ly/3vnYSw7
RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} ^10\.
RewriteCond %{REMOTE_ADDR} ^172\.(1[6-9]|2[0-9]|3[0-1])\.
RewriteCond %{REMOTE_ADDR} ^192\.168\.
RewriteRule ^/(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# --- maintenance ------
IncludeOptional conf/stop_goods.conf
IncludeOptional conf/maintenance.conf
# ----------------------
IncludeOptional conf/rewrite.conf

RequestHeader set X-GOOID-USER_ID_FOR_GA %{USER_ID_FOR_GA}e

<Location /gbs-healthcheck/>
  Options FollowSymLinks
  Require all denied

  ## Private IP (RFC1579, RFC1918)
  Require ip 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16

  Require ip 127.0.0.1

  # 監視サーバ・社内LAN
  Require ip 210.144.64.67 202.217.72.192/27

  # puzzle外形監視
  Require ip 35.200.36.54/32 35.200.63.242/32 35.197.17.40/32 35.199.191.1/32

  # NTTレゾナント 大手町
  Require ip 202.217.74.160/28
  Require ip 153.143.181.0/28

  # NTTレゾナントVDI
  Require ip 203.138.153.247/32
  Require ip 202.217.74.160/28
</Location>

<Location /gbs/connectionPool/>
  Options FollowSymLinks
  Require all denied
  Require ip 172.20.0.0/16 172.27.0.0/16 172.28.0.0/16
  Require ip 127.0.0.1
</Location>

{% include 'roles/kagemusha/templates/kagemusha.conf.j2' %}

</VirtualHost>
