@charset "UTF-8";
/* CSS Document 070315 */

p.etit{margin:0; padding:0 4px 0 10px; font-weight:bold;}
#ferror{border:1px #c33 solid; margin:10px 0 18px 0; padding:0 0 8px 0;}
#ferror h2{background-color:#c33; color:#fff;}
#ferror p.etit{margin:0; padding:0 4px 0 10px;}
#ferror p.eli{padding:0 4px 8px 24px; margin:0; line-height:1.1em;}

.asterisk{color:#FF0000;}
.sharp{color:#0000FF;}

.erword{color:#FF0000; font-weight:bold;}
.fin{color:#3C69C1; margin:35px 0 23px 0;}

table.ftb01{width:760px;}
table.ftb01 th{padding:4px; text-align:left; background:#eed; white-space:nowrap; font-weight:normal;}
table.ftb01 th.koumo{padding:4px; text-align:left; background:#eed; white-space:nowrap; font-weight:normal; width:155px;}
table.ftb01 td{padding:4px; text-align:left;}
table.ftb01 td.hint{padding:4px; text-align:left; background:#f0f0f0; width:253px; vertical-align:top;}

table.ftb02{width:760px;margin:0 auto;}
table.ftb02 th{padding:4px; text-align:left; background:#eed; white-space:nowrap; font-weight:normal;}
table.ftb02 th.koumo{padding:4px; text-align:left; background:#eed; white-space:nowrap; font-weight:normal; width:155px;}
table.ftb02 td{padding:4px; text-align:left;}
table.ftb02 td.hensyu{padding:4px; text-align:center; background:#f0f0f0; width:253px; vertical-align:top;}

.bo1{border:1px #ccc solid; background-color:#f0f0f0; padding:6px;}
div#main p.bo2 {border:1px #ccc solid; padding:8px; margin:0 0 26px 0;line-height: 140%;}
div#main p.bo3 {background:#F3F3E5; padding:8px; margin:0 0 26px 0; line-height: 140%;}

.ora{color:#f60;}

table.ftb01 td.hint ul{margin:0 0 0 18px;}

div#lside dd.login{margin:0 2px; padding:12px 6px 6px 6px; line-height:1.3em;}
div#lside dl.on{padding:0;}
div#lside dl.on dd{background:#f3f3f3; padding:3px 6px 0.35em 6px;}

div.ebank {border:1px #ccc solid; margin:0 0 18px 0; padding:6px; background:#ffe;}
div.ebank img{margin:0 0 6px 0; padding:0;}

table.idpa{width:100%; margin: 0 0 18px 0; padding:0;}
table.idpa th{border:1px #ccc solid; padding:0.75em 4px; background:#F6FCFE; width:25%;}

.integ{width:600px;margin:0 auto 18px;}
.integ form{}
/* .integ input{width:200px;height:16px;padding:0 6px 0 0;} */
.integ input.text{width:200px;height:16px;padding:0 6px 0 0;}
.integ table{width:600px;background:#dfefff;}
.integ table th{padding:0;text-align:right;}
.integ .center{margin:8px 0 0;}

.idlogin{width:100%;margin:0 auto 18px;}
.idlogin form{}
.idlogin input.text{width:160px;height:16px;padding:0 6px 0 0;}
/* .idlogin input{width:160px;height:16px;padding:0 6px 0 0;}
.idlogin input.check{width:20px;height:14px;padding:0;} */
.idlogin table{width:100%;background:#dfefff;}
.idlogin table th{padding:0;text-align:right;}
.idlogin .center{margin:8px 0 0;}

.co01l h2.ch02{background: #fff; border-bottom: 1px solid #06c;color:#09f;}
.co01r h2.ch02{background: #fff; border-bottom: 1px solid #f90;color:#f90;}

#masterid{margin:0; padding:18px 0;}
#masterid h2{padding:4px;background:#1a3a8b;color:#fff;}
#masterid .midl{float:left;width:48%;}
#masterid .midr{float:right;}
#masterid .midl form{border:1px solid #ccc;padding:16px 8px;}
#masterid .midl input{margin:0 0 0 6px;}
#masterid .midl img{margin:4px 4px 8px;}

.clear:after {
content:".";
height:0px;
clear:both;
display: block;
visibility:hidden;
}
.clear{zoom:1;}

/* CSS Document 070314 baba */

.pasbox{border: 1px #039 solid; padding:0; margin:0 0 18px 0;}
.pasbox dl{padding:0; margin:0;}
.pasbox dl dt{background:#039; padding:4px; margin:0; color:#fff;}
.pasbox dl dd{padding:4px 4px 2px; margin:0;}

#incontents div.center.clear{margin:0 0 1em;}
#incontents div.fs12.bo1{width:94%;text-align:left;margin:0 auto 18px;}
#incontents div.center.clear > table{margin:0 auto 1em;}
#incontents div.center table.t01 th{text-align:left;}
#incontents div.center td{text-align:left;}

/* CSS Document 070320 baba */
.bo11{border:1px #ccc solid; background-color:#f0f0f0; padding:6px; width:95%; text-align:left;}

/* CSS Document 070611 baba */
.bo22{border:1px #ccc solid; background-color:#fff; padding:6px;margin:0 0 16px 0;}
div.masl{float:left; width:48%; border-right:1px solid #ccc; padding:0 10px 0; margin:0 8px 30px 0;}

div.masr{float:right; width:48%;}
/* CSS Document 070625 thayashi@ */
div.addressCheck p{margin:0.3em 0 !important;line-height:1.2 !important;}
div.addressCheck p.fs14 img {vertical-align:middle;padding-right:4px;}
div.addressConfirm { margin:1.5em; border:1px solid #ccc; background-color:#daebf2; padding:1em; text-align:center;}
div.formButtons { margin:20px; text-align:center;}
div.formButtons input {margin: 0 10px;}
div.formButtons img {margin: 0 10px;}

/* CSS Document 070803 moma */
#toppr{width:720px; text-align:left; height:400px;margin:0 auto 18px;}
#toppr form{margin:0;padding:0;}
#toppr label{padding:0 3px 0 0 ;}

#toppr .t1{height:12px;}
#toppr dl{border:1px solid #ccc;background:#fff;width:192px;margin:-395px 0 0 5px;position:relative; width:192px; min-height:225px; _height:225px;}
#toppr dt{margin:0;padding:2px 8px;background:#e0e0e0;border-bottom:1px solid #ccc;font-weight:bold;}
#toppr dt img{vertical-align: middle;}
#toppr label img{vertical-align: middle;padding:0 0 2px;}
#toppr dd img, #toppr dd input {vertical-align: middle;}
#toppr dd div {margin:4px 0;}
#toppr dd{margin:0 8px;padding:0 0 3px 0;}
#toppr .login{margin:0;padding:4px 0 0 0;text-align:center;}
#toppr .loglst{margin:0;padding:0;line-height:1.4em;}

/* CSS Document 070807 baba */
#toppr .loglst p.mas{margin:2px 0 3px;padding:0;}
#toppr .loglst img.sub{padding:0 12px 0 0;}
#toppr .loglst p.margin0{margin:0;padding:0;}

#toppr .login input.in{margin:0;padding:0 12px 4px 0;}
#toppr .login img.back{margin:0;padding:0 0 4px 0;}

#incontents .new{margin:0 0 6px;padding:4px 2px 2px;border:1px solid #ccc;background:#efefef;}
#incontents .new p{margin:0 0 2px;padding:0;}

.lout{border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:6px;margin:0 0 12px;}

#incontents table.idpa02{width:720px;margin:0 auto 18px; border:1px solid #ccc;padding:0;}
#incontents table.idpa02 td{padding:8px;}
#incontents table.idpa02 td p.for{margin:0 0 18px;padding:0;}
#incontents table.idpa02 td p.memo{margin:0 0 4px;padding:0;}

#ad{height:400px;}


/*  */
table.kessai {
  width: 90%;
  margin: 0 auto 18px;
  padding: 0;
  border-collapse: collapse;
}
table.kessai th {
  background-color: #eeeedd;
  padding: 3px;
  border: 1px solid #cccccc;
  text-align: center;
}
table.kessai td {
  padding: 3px 5px;
  vertical-align: top;
  border: 1px solid #cccccc;
}
table.kessai td.shudan {
  background-color: #f0f0f0;
  white-space: nowrap;
}
table.kessai td.setsumei {
}
table.kessai td.setsumei ul {
  margin-left: 2em;
}

/* CSS Document 090916 touwaku */
.warning {padding:8px; margin-bottom:30px; border:1px solid #ccc; background:#FFE1D5;}

