<?php
  if(isset($_GET['userId'])) {
    header("X-XRDS-Location: https://login.mail.goo.ne.jp/id/op/discovery?userId=".$_GET['userId']);
  } else {
    header("X-XRDS-Location: https://login.mail.goo.ne.jp/id/op/discovery");
  }
?>
<html>
<head>
<meta http-equiv="refresh" content="0; url=http://www.goo.ne.jp/">
<script>location.href='http://www.goo.ne.jp/';</script>
</head>
<body>
<a href="http://www.goo.ne.jp/">ページを移動します<br>
自動的に移動しない場合はこちらをクリックしてください。</a>
</body>
</html>
