@charset 'utf-8';

#NR-header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    min-width: 1024px;
}

#NR-sub {
    margin-top: 20px;
}

#NR-wrapper h1,
#NR-wrapper h2,
#NR-wrapper h3,
#NR-wrapper h4,
#NR-wrapper h5,
#NR-wrapper h6 {
    margin: 1em 0;
}

#NR-wrapper-in {
    font-size: 15px;
    margin-bottom: 0;
    padding: 30px 0;
}

#NR-wrapper-in h1 {
    font-size: 30px;
}

#NR-wrapper-in h2 {
    font-size: 18px;
}

#NR-wrapper-in h3,
#NR-sub h2 {
    font-size: 16px;
}

#NR-wrapper-in h4,
#NR-sub h3 {
    font-size: 16px;
}

#NR-sub h4 {
    font-size: 14px;
}

#NR-wrapper-in .unit {
    margin-bottom: 30px;
}

#NR-wrapper-in p {
    line-height: 1.5;
    margin: .5em 0 1em;
}

#NR-wrapper-in ul li,
#NR-wrapper-in ol li {
    line-height: 1.5;
    margin-left: 1.5em;
    margin-right: 1em;
}

#id {
    height: 100%;
    min-height: 100%;
    width: 100%;
}
#NR-page {
    background: #577994 url('../img/login-bg.png');
}

[type=text],
[type=password],
[type=button],
[type=submit] {
    font-size: 16px;
}

[type=text],
[type=password] {
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    font-weight: bold;
    padding: .5em;
    width: 345px;
}

[type=text]:focus,
[type=password]:focus {
    background: #ffc;
}

[type=text].blur:focus,
[type=password].blur:focus {
    background: #c33;
}

[type=button],
[type=submit] {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: .4em 1em .2em;
    -webkit-appearance: none;
}

.id-frame, .id-frame-wide {
    background-color: #fff;
    border: solid #ccc 1px;
    border-radius: 4px;
    margin: 0 auto 20px;
    width: 425px;
}
.id-frame-wide {
    width: 580px;
}

.id-frame h2, .id-frame-wide h2 {
    border-bottom: solid #ccc 1px;
    color: #666;
    font-weight: bold;
    padding: 0 0 .6em 1em;
}

.id-frame li, .id-frame-wide li {
    margin-bottom: 1em;
}

.id-info {
    padding-left: 290px;
}
.id-info-wide {
    padding-left: 250px;
}

.box {
    padding: .5em 2em;
}

.box dt {
    color: #333;
    display: block;
    margin-bottom: .5em;
}

.box dd {
    margin-bottom: 1em;
}

.box .ctrl {
    margin-bottom: 25px;
    position: relative;
}

.box .reload,
.box .speech {
    background: #009ecf;
    border-bottom: 3px solid #0186af;
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
}

.box .reload:hover,
.box .speech:hover {
    background: -moz-linear-gradient(#00bedf, #00a1d0);
    background: -webkit-linear-gradient(#00bedf, #00a1d0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #00a1d0), color-stop(0, #00bedf));
}

.box .login-btn {
    background: #fcd114;
    border-bottom: 3px solid #ffc800;
    color: #4c3f06;
    padding: 10px 0 8px;
    width: 100%;
}

.box .login-btn:hover {
    background: -moz-linear-gradient(#fee05f, #fdce02);
    background: -webkit-linear-gradient(#fee05f, #fdce02);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #fdce02), color-stop(0, #fee05f));
}

.box .notice li {
    font-size: 12px;
    list-style: outside;
    margin-bottom: .5em;
}

.box .label {
    border-top: 1px dashed #999;
    margin: 30px 0 20px;
    position: relative;
    text-align: center;
}

.box .label-in {
    margin-top: -8px;
}

.box .label-in span {
    background: #fff;
    color: #999;
    font-size: 14px;
    padding: 0 10px;
}

.box .error {
    color: #c33;
}

#goo-info {
    margin: 0 auto 20px;
    width: 425px;
}
#goo-info ul li {
    margin: 0;
}
#goo-info ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
} 

.id-info-list a {
    color: #fff;
    font-size: 12px;
}

.id-info-list li {
    position: relative;
    margin-bottom: .3em;
}

#pw-reminder, #newid {
    font-size:12px;
    line-height: 1.2em;
    margin: 2em 5px 0;
}

#pw-reminder {
    float: left;
}

#newid {
    float: right;
}

#NR-wrapper-in .social-button {
    margin: 0;
    text-align: center;
}

* html #NR-wrapper-in .social-button li {
    display: inline;
    zoom: 1;
}

#NR-wrapper-in .social-button li a,
#NR-wrapper-in .social-button li img {
    height: 40px;
    width: 40px;
}

#NR-wrapper-in .social-button li a.nttid,
#NR-wrapper-in .social-button li img.nttid {
    height: 30px;
    width: 30px;
    background: blue;
}

/* recaptcha area */
#recaptcha_area {
    width: 300px;
    margin: 0 auto 25px;
}


/* button */
.btn {
  margin: 5px 0;
  width: 100%;
  padding: 10px 0 8px;
  font: -webkit-control;
  font-size: 16px;
  color: #4c3f06;
  background-color: #dddddd;
  border: medium none;
  border-bottom: 3px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  cursor: pointer;
}
input.btn {
}
a.btn {
  letter-spacing: normal;
  display: inline-block;
  white-space: pre;
  padding: 10px 0 10px;
  line-height: normal;
  color: #4c3f06;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background: rgba(0, 0, 0, 0) linear-gradient(#eeeeee, #dddddd);
}
.btn-submit {
  background-color: #fcd114;
  border-bottom: 3px solid #ffc800;
}
.btn-submit:hover {
  background: rgba(0, 0, 0, 0) linear-gradient(#fee05f, #fdce02);
}

.explain {
  margin: 0.5em 0 1em;
  line-height: 1.5em;
}
.explain.important {
  font-weight: bold;
}
.explain.graybox {
  background-color: #eeeeee;
  padding: 0.5em;
  font-size: 90%;
}
.explain ul {
  list-style: outside disc;
}
.explain ul li {
  margin-bottom: 0;
}

@media screen and (min-width: 1px) {
    /* FontAwesome */
    .id-info-list li:before {
        display: inline-block;
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: normal;
        position: absolute;
        text-decoration: none;
    }

    .id-info-list li:before {
        color: #fff;
        content: '\f138';
        left: -1.5em;
        top: 0;
    }

    .checkbox {
        display: inline-block;
        font-size: 14px;
        margin-left: 5px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1060px) {
    #NR-header,
    #NR-footer,
    #NR-wrapper {
        min-width: 580px;
    }

    #NR-header-in,
    #NR-footer-in {
        width: auto;
    }

    #NR-wrapper-in {
        width: 580px;
    }

    .id-info {
        padding-left: 80px;
    }

    .id-info-wide {
        padding-left: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 599px) {

    #NR-header {
        min-width: 0;
        width: auto;
    }

    #NR-wrapper-in {
        padding: 20px 10px 40px;
    }

    .id-info, .id-info-wide {
        padding-left: 0;
    }

    [type=text],
    [type=email],
    [type=url],
    [type=password],
    .id-frame, .id-frame-wide {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    [type=button],
    [type=submit] {
        -webkit-appearance: none;
    }

    #goo-info {
        width: 100%;
    }

    #goo-info ul li a {
        font-size: 12px;
    }

    .id-info-list {
        margin-left: 10px;
    }

}
