<html lang="ja">
<head>
<meta charset="utf-8">
<!--[if !IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<title>gooID</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="https://u.xgoo.jp/css/1.2.css">
<link rel="stylesheet" href="https://u.xgoo.jp/fa/x.css">
<link rel="subresource" href="https://u.xgoo.jp/jquery/1.8.js">
<link rel="subresource" href="https://u.xgoo.jp/js/1.0.js">
<style>
#NR-page {
    background: none;
}
#NR-wrapper-in {
    padding: 20px 0 30px;
}
#mess {
    width: 580px;
    margin: 0 auto;
}
#mess .important {
    color: #f60;
    font-weight: bold;
}
#mess .nowrap {
    white-space: nowrap;
}
#mess .flink::before {
    font-family: 'FontAwesome';
    content: '\f138';
    display: inline-block;
    padding-right: 0.5em;
}
@media screen and (max-width: 599px) {
    #mess {
        width: 100%;
    }
    #mess-in {
        padding: 0 10px;
    }
}
</style>
</head>
<body id="id" class="NR-col1 NR-rwd">
<div id="NR-page">
<header role="banner"><div id="NR-header">
<div id="NR-header-in">
<h1 id="NR-header-logo"><a href="https://www.goo.ne.jp/" id="NR-header-logo-goo"><img src="https://u.xgoo.jp/img/goo.png" alt="goo" title="goo"></a><a href="https://login.mail.goo.ne.jp/id/Top" id="NR-header-logo-sv">ID<img src="https://u.xgoo.jp/img/sv/id.png"></a></h1>
<!-- header-in --></div>
<!-- header --></div></header>
<div id="NR-wrapper">
<div id="NR-wrapper-in" class="cx">
<div id="NR-main">
<div id="NR-main-in">
<section><div class="section">
<div id="mess">
<div id="mess-in">
  <h3 class="important">ただいまgoo blog、マルシェルのシステムメンテナンス中のため、ご利用いただくことができません。</h3>
  <div style="margin: 30px 20px 20px;border:1px solid #999;padding:10px 10px;">
    <h4 style="font-size:15px;margin:0 0 20px;">メンテナンス実施日時</h4>
    <div style="margin:0 1em;">
      <span class="nowrap">2021年11月18日(木)</span> <span class="nowrap">午前0時</span> <span class="nowrap">～</span> <span class="nowrap">2021年11月18日(木)</span> <span class="nowrap">午前5時(予定)</span>
    </div>
  </div>

  <div style="line-height:1.5;margin:2em 0;">
    goo blog メンテナンスに関する詳細(ご利用いただけない機能等)は以下のページにてご確認ください。<br>
    <div style="margin:0 1em;">
      <a class="flink" href="//blog.goo.ne.jp/staffblog/e/ab2bcb5a4d4adaff3b87d27f6e5d4fd8">goo blog、マルシェル　サービス停止を伴うシステムメンテナン>スのお知らせ - goo blog　スタッフブログ</a>
    </div>
  </div>

  <p>
    ご利用の皆様には大変ご迷惑をおかけいたしますが、何卒ご理解を賜りますようお願い申し上げます。
  </p>
</div>
</div>
</div></section>
</div>
</div>
</div>
</div>
<footer role="contentinfo"><div id="NR-footer">
<div id="NR-footer-in">
<p class="NR-copyright"><small><span class="small">&copy;NTT DOCOMO</span></small></p>
<!-- footer-in --></div>
<div id="NR-footer-ci">
<img src="//u.xgoo.jp/img/docomo.png" width="120" height="30" alt="NTT DOCOMO">
</div>
<!-- footer --></div></footer>
<!-- page --></div>
<script src="https://u.xgoo.jp/jquery/1.8.js"></script>
<script src="https://u.xgoo.jp/js/1.0.js"></script>
<script type="text/javascript">VLTrace_custom_getparam='c=139';</script>
<script type="text/javascript" src="https://log000.goo.ne.jp/js/VLTraceDMD.js"></script>
<noscript><img src="https://log000.goo.ne.jp/VL/Trace?c=139&tp=1&noscript=1&e=1" width="0" height="0" border="0"></noscript>
</body>
</html>

