# GBS Rewrite Configuration
#
# payj.goo.ne.jp
#
# set domain to redirect host.
RewriteRule .* - [E=R_DOMAIN:payj.goo.ne.jp]
RewriteCond %{HTTP_HOST} ^pyj([0-9]{3})\.goo\.ne\.jp
RewriteRule .* - [E=R_DOMAIN:pyj%1.goo.ne.jp]

RewriteRule ^/charge/Purchase.jsp$  ajp://localhost:58009/gbs/sttlServiceSelect/sttlPreRegist [P,NE,L]
RewriteRule ^/jgoo/registration/directPreAuth.jsp$  https://%{ENV:R_DOMAIN}/gbs/sttlServiceSelect/sttlPreRegist [R=301,L]
RewriteRule ^/jgoo/registration/mobDirectPreAuth.jsp$  https://%{ENV:R_DOMAIN}/gbs/m/sttlServiceSelect/ [R=301,L]
RewriteRule ^/btw/mpurchase.action$  ajp://localhost:58009/gbs/bitwayOnlineBilling/ [P,NE,L]
RewriteRule ^/btw/ipurchase.action$  ajp://localhost:58009/gbs/bitwayOnlineBilling/ [P,NE,L]
RewriteRule ^/btw/ppurchase.action$  ajp://localhost:58009/gbs/bitwayOnlineBilling/ [P,NE,L]
RewriteRule ^/btw/mcheckright.action$  ajp://localhost:58009/gbs/bitwayOnlineBilling/index [P,NE,L]
RewriteRule ^/btw/icheckright.action$  ajp://localhost:58009/gbs/bitwayOnlineBilling/index [P,NE,L]
RewriteRule ^/btw/pcheckright.action$  ajp://localhost:58009/gbs/bitwayOnlineBilling/index [P,NE,L]
RewriteRule ^/charge/CheckRight.jsp$  ajp://localhost:58009/gbs/checkRights/ [P,NE,L]
RewriteRule ^/charge/BBR_IssueLicense.jsp$  ajp://localhost:58009/gbs/drmIssueLicense/ [P,NE,L]
RewriteRule ^/charge/BBR_IssueLicense_Browse.jsp$  ajp://localhost:58009/gbs/drmIssueLicense/ [P,NE,L]
RewriteRule ^/charge/Direct_BBR_Purchase.jsp$  ajp://localhost:58009/gbs/sttlServiceSelectDrm/bbr [P,NE,L]
RewriteRule ^/charge/BBR_Purchase.jsp$  ajp://localhost:58009/gbs/sttlServiceSelectDrm/ [P,NE,L]

RewriteRule ^/charge/servlet/DirectDispacher/([0-9]+)/(index.nttr)$  ajp://localhost:58009/gbs/ocnPayon/$1/$2 [P,NE,L]
RewriteRule ^/charge/servlet/DirectDispacher/([0-9]+)/BBR_IssueLicense$ ajp://localhost:58009/gbs/drmIssueLicense/ocn [P,NE,L]

RewriteRule ^/charge/rev/ISPRevResult ajp://localhost:58009/gbs/plalaSttl/complete [P,NE,L]

RewriteRule ^/rif/showRights.do$  ajp://localhost:58009/gbs/showRights/ [P,NE,L]

# 臨時申し込みURL
RewriteRule ^/gbs/tmpPreRegist ajp://localhost:58009/gbs/sttlServiceSelect/sttlPreRegist [P,NE,L]
#RewriteRule ^/gbs/tempPreRegist ajp://localhost:58009/gbs/sttlServiceSelect/sttlPreRegist [P,NE,L]

# srvc.goo.ne.jp
# set domain to redirect host.
RewriteRule .* - [E=R_DOMAIN:srvc.goo.ne.jp]
RewriteCond %{HTTP_HOST} ^svc([0-9]{3})\.goo\.ne\.jp
RewriteRule .* - [E=R_DOMAIN:svc%1.goo.ne.jp]

RewriteRule ^/jgoo/registration/doublePassportLoginEntry.jsp$  https://%{ENV:R_DOMAIN}/gbs/settlementInfReg/show [R=301,L]
RewriteRule ^/jgoo/registration/doublePassportIspLoginEntry.jsp$  https://%{ENV:R_DOMAIN}/gbs/settlementInfReg/show [R=301,L]
RewriteRule ^/jgoo/registration/easyPremiumPassportEntry.jsp$  https://%{ENV:R_DOMAIN}/gbs/settlementInfReg/show [R=301,L]
RewriteRule ^/jgoo/registration/premiumPasswordChangeLogin.jsp$  https://%{ENV:R_DOMAIN}/gbs/pinCdUpdate/index [R=301,L]
RewriteRule ^/jgoo/registration/Setremind.jsp$  https://%{ENV:R_DOMAIN}/gbs/secretQuestionSet/index [R=301,L]
RewriteRule ^/jgoo/registration/Useremind.jsp$  https://%{ENV:R_DOMAIN}/gbs/pinCdReset/index [R=301,L]
RewriteRule ^/jgoo/registration/sttlInfoLoginAction.jsp$  https://%{ENV:R_DOMAIN}/gbs/settlementInf/index [R=301,L]
RewriteRule ^/jgoo/registration/chocomBalanceInq.jsp$  https://%{ENV:R_DOMAIN}/gbs/chocomPointConfirm/index [R=301,L]
RewriteRule ^/jgoo/registration/Smeisai.jsp$  https://%{ENV:R_DOMAIN}/gbs/buyHistory/index [R=301,L]
RewriteRule ^/btw/rightlist.action$  https://%{ENV:R_DOMAIN}/gbs/serviceUsageConditionGoo/index [R=301,L]
RewriteRule ^/btw/mwithdraw.action$  https://%{ENV:R_DOMAIN}/gbs/serviceUsageConditionGoo/index [R=301,L]

RewriteCond %{QUERY_STRING} isptp=01
RewriteRule ^/jgoo/charge/RightList.jsp$  https://%{ENV:R_DOMAIN}/gbs/serviceUsageConditionPlala/index [R=301,L]
RewriteRule ^/jgoo/charge/RightList.jsp$  https://%{ENV:R_DOMAIN}/gbs/serviceUsageConditionGoo/index [R=301,L]
RewriteRule ^/charge/RightList.jsp$  https://%{ENV:R_DOMAIN}/gbs/serviceUsageConditionGoo/index [R=301,L]

RewriteCond %{QUERY_STRING} isptp=01
RewriteRule ^/jgoo/charge/RightChange.jsp$  ajp://localhost:58009/gbs/serviceUsageConditionPlala/stop [P,NE,L]
RewriteRule ^/jgoo/charge/RightChange.jsp$  ajp://localhost:58009/gbs/serviceUsageConditionGoo/index [P,NE,L]

RewriteCond %{QUERY_STRING} isptp=01
RewriteRule ^/jgoo/registration/premiumPassportWithdrawLogin.jsp$  https://%{ENV:R_DOMAIN}/gbs/serviceUsageConditionPlala/cancelConfirm [R=301,L]
RewriteRule ^/jgoo/registration/premiumPassportWithdrawLogin.jsp$  https://%{ENV:R_DOMAIN}/gbs/settlementInf/index [R=301,L]

RewriteRule ^/sso/SSOPreAuth$  ajp://localhost:58009/gbs/plalaAuth/oneTimeSSO [P,NE,L]
RewriteRule ^/sso/SSOSetTicket$  ajp://localhost:58009/gbs/plalaAuth/complete [P,NE,L]
RewriteRule ^/gbs/PlalaAuth/oneTimeSSO$  ajp://localhost:58009/gbs/plalaAuth/oneTimeSSO/ [P,NE,L]
RewriteRule ^/gbs/plalaSttl/complate$  ajp://localhost:58009/gbs/plalaSttl/complete/ [P,NE,L]
RewriteRule ^/jgoo/rev/isprevresult$  ajp://localhost:58009/gbs/plalaSttl/complete/ [P,NE,L]

RewriteRule ^/remote/service/plogin$  ajp://localhost:58009/gbs/musicoAuth/preprocess [P,NE,L]
RewriteRule ^/remote/service/slogin$  ajp://localhost:58009/gbs/musicoAuth/complete [P,NE,L]

RewriteCond %{QUERY_STRING} act=02
RewriteRule ^/jgoo/registration/aspPassportShiftLogin.jsp  https://%{ENV:R_DOMAIN}/gbs/oldBrobaMemberShift/index?procFlg=2 [R=301,L]
RewriteRule ^/jgoo/registration/aspPassportShiftLogin.jsp  https://%{ENV:R_DOMAIN}/gbs/oldBrobaMemberShift/index?procFlg=1 [R=301,L]

RewriteRule ^/rif/showMember.do$  ajp://localhost:58009/gbs/gooCustomerNumRef/index [P,NE,L]

RewriteRule ^/jgoo/registration/mobEasyPremiumPassportEntry*  https://%{ENV:R_DOMAIN}/gbs/m/settlementInfReg/show [R=301,L]
RewriteRule ^/jgoo/registration/mobCardChangeLogin.jsp$  https://%{ENV:R_DOMAIN}/gbs/m/settlementInf/index [R=301,L]
RewriteRule ^/jgoo/registration/mobEBankInfoLogin.jsp$  https://%{ENV:R_DOMAIN}/gbs/m/settlementInf/index [R=301,L]
RewriteRule ^/jgoo/registration/mobPremiumPassportWithdrawLogin.jsp$  https://%{ENV:R_DOMAIN}/gbs/m/settlementInfAllDelete/displaySettlementInfoDelConfirm [R=301,L]
RewriteRule ^/jgoo/registration/mobPremiumPasswordChangeLogin.jsp$  https://%{ENV:R_DOMAIN}/gbs/m/pinCdUpdate/index [R=301,L]
RewriteRule ^/jgoo/registration/mobSmeisai.jsp$  https://%{ENV:R_DOMAIN}/gbs/m/buyHistory/index [R=301,L]
RewriteRule ^/charge/mobRightList.jsp$  https://%{ENV:R_DOMAIN}/gbs/m/serviceUsageConditionGoo/index [R=301,L]

#RewriteRule ^/jgoo/registration/chocomRegist$  ajp://localhost:58009/gbs/settlementInfReg/regEndChoc [P,NE,L]
RewriteRule ^/jgoo/registration/chocomRegist$  ajp://localhost:58009/gbs/settlementInfReq/demConfidenceResult [P,NE,L]

RewriteRule ^/gbs/chocomPointConfirm/*  https://%{ENV:R_DOMAIN}/gbs/settlementInf/index [R=301,L]
RewriteRule ^/gbs/pointServiceRegister/*  https://%{ENV:R_DOMAIN}/gbs/settlementInf/index [R=301,L]

# payment.goo.ne.jp
# set domain to redirect host.
RewriteRule .* - [E=R_DOMAIN:payment.goo.ne.jp]
RewriteCond %{HTTP_HOST} ^pmt([0-9]{3})\.goo\.ne\.jp
RewriteRule .* - [E=R_DOMAIN:pmt%1.goo.ne.jp]

RewriteRule ^/jgoo/servlet/GPPreauth$  ajp://localhost:58009/gbs/goodsInfoPreRegist/nomalGoods [P,NE,L]
RewriteRule ^/jgoo/servlet/G_Payment_Reg$  ajp://localhost:58009/gbs/onlineBilling/confirm [P,NE,L]
RewriteRule ^/rmtacc/sys/g1regist$  ajp://localhost:58009/gbs/goodsInfoPreRegist/nomalGoods [P,NE,L]
RewriteRule ^/rmtacc/sys/g2auth$  ajp://localhost:58009/gbs/goodsInfoPreRegist/index [P,NE,L]
RewriteRule ^/rmtacc/sys/g3pay$  ajp://localhost:58009/gbs/onlineBilling/confirm [P,NE,L]

