# Save the output of this file and use kubectl create -f to import
# it into Kubernetes.
#
# Created with podman-4.0.2
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2025-07-23T06:42:36Z"
  labels:
    app: giteapod
  name: giteapod
spec:
  containers:
  - args:
    - mysqld
    env:
    - name: http_proxy
      value: {{ proxy_env.http_proxy }}
    - name: https_proxy
      value: {{ proxy_env.http_proxy }}
    - name: no_proxy
      value: localhost,127.0.0.1
    - name: MYSQL_DATABASE
      value: gitea
    - name: MYSQL_ROOT_PASSWORD
      value: gitea
    - name: HTTPS_PROXY
      value: {{ proxy_env.http_proxy }}
    - name: HTTP_PROXY
      value: {{ proxy_env.http_proxy }}
    - name: MYSQL_USER
      value: gitea
    - name: MYSQL_PASSWORD
      value: gitea
    image: localhost/gitea_db-podman:1.8.4
    name: giteadb
    ports:
    - containerPort: 2222
      hostPort: 2222
    - containerPort: 3001
      hostPort: 3001
    resources: {}
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /var/lib/mysql
      name: gitea_db_data-pvc
  - args:
    - /usr/bin/s6-svscan
    - /etc/s6
    env:
    # ログ設定（共通）
    - name: GITEA__log__STACKTRACE_LEVEL
      value: Critical
    - name: GITEA__log__COLORIZE
      value: "false"
    # 個別ロガー設定
    - name: GITEA__log.logger.default__MODE
      value: file
    - name: GITEA__log.logger.default__LEVEL
      value: Trace
    - name: GITEA__log.logger.default__FILE_NAME
      value: trace.log
    - name: GITEA__log.logger.default__MAX_DAYS
      value: "40"
    - name: GITEA__log.logger.default__COLORIZE
      value: "false"
    - name: GITEA__log.logger.default__STACKTRACE_LEVEL
      value: Critical
    - name: GITEA__log.logger.access__MODE
      value: file
    - name: GITEA__log.logger.access__LEVEL
      value: Info
    - name: GITEA__log.logger.access__FILE_NAME
      value: access.log
    - name: GITEA__log.logger.access__MAX_DAYS
      value: "40"
    - name: GITEA__log.logger.ssh__MODE
      value: file
    - name: GITEA__log.logger.ssh__LEVEL
      value: Info
    - name: GITEA__log.logger.ssh__FILE_NAME
      value: ssh.log
    - name: GITEA__log.logger.ssh__MAX_DAYS
      value: "40"
    - name: GITEA__log.logger.router__MODE
      value: console
    - name: GITEA__log.logger.router__LEVEL
      value: Debug
    # メール設定
    - name: GITEA__service__ENABLE_NOTIFY_MAIL
      value: "true"
    - name: GITEA__mailer__ENABLED
      value: "true"
    - name: GITEA__mailer__FROM
      value: gitea@nttr.co.jp
    - name: GITEA__mailer__PROTOCOL
      value: smtp
    - name: GITEA__mailer__SMTP_ADDR
      value: {{ smtp_relay_host }}
    - name: GITEA__mailer__SMTP_PORT
      value: {{ smtp_relay_port }}
    - name: GITEA__admin__DEFAULT_EMAIL_NOTIFICATIONS
      value: enabled
    # プロキシ設定
    - name: GITEA__proxy__PROXY_ENABLED
      value: "true"
    - name: GITEA__proxy__PROXY_URL
      value: {{ proxy_env.http_proxy }}
    - name: GITEA__proxy__PROXY_HOSTS
      value: '**'
    - name: GITEA__webhook__PROXY_URL
      value: {{ proxy_env.http_proxy }}
    - name: GITEA__webhook__PROXY_HOSTS
      value: '**'
    - name: GITEA__webhook__ALLOWED_HOST_LIST
      value: '*'
    # サーバ設定
    - name: GITEA__server__PROTOCOL
      value: http
    - name: GITEA__server__HTTP_PORT
      value: "3001"
    - name: GITEA__server__ROOT_URL
      value: https://container.wbo110.goo.ne.jp/repo/
    - name: GITEA__server__DOMAIN
      value: container.wbo110.goo.ne.jp
    - name: GITEA__server__START_SSH_SERVER
      value: "true"
    - name: GITEA__server__SSH_PORT
      value: "2222"
    - name: GITEA__server__SSH_LISTEN_PORT
      value: "2222"
    - name: GITEA__server__SSH_DOMAIN
      value: gooid-21-dev-container-101
    - name: GITEA__server__BUILTIN_SSH_SERVER_USER
      value: git
    # データベース設定
    - name: GITEA__database__DB_TYPE
      value: mysql
    - name: GITEA__database__HOST
      value: localhost:3306
    - name: GITEA__database__NAME
      value: gitea
    - name: GITEA__database__USER
      value: gitea
    - name: GITEA__database__PASSWD
      value: gitea
    - name: GITEA__database__CHARSET
      value: utf8mb4
    # その他
    - name: TMPDIR
      value: /backup
    - name: USER_UID
      value: "1001"
    - name: USER_GID
      value: "1001"
    image: localhost/gitea-podman:1.24.3
    name: gitea
    resources: {}
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /backup
      name: gitea_backup-pvc
    - mountPath: /data
      name: gitea_data-pvc
  restartPolicy: Never
  volumes:
  - name: gitea_data-pvc
    persistentVolumeClaim:
      claimName: gitea_data
  - name: gitea_db_data-pvc
    persistentVolumeClaim:
      claimName: gitea_db_data
  - name: gitea_backup-pvc
    persistentVolumeClaim:
      claimName: gitea_backup
status: {}
