<worker {{td_agent_worker0}}>
  <filter goo*web*.var.log.app.gbss.{debug,event,error}-spring-{blue,green}.log>
    @type record_transformer
    enable_ruby
    <record>
      host_groups_name ${tag_parts[0].split(/-[0-9]{3}$/)[0]}
    </record>
    <buffer tag>
    </buffer>
  </filter>
  
  <match goo*web*.var.log.app.gbss.{debug,event,error}-spring-{blue,green}.log>
    @type                   copy
    <store>
      # @type               file
      @type               forest
      subtype             file
      <template>
        format              single_value
        append              true
        buffer_path         /db0/tdlogs/buffer/${tag} 
        path                /db0/tdlogs/${tag_parts[0]}/${tag_parts[1..-3]}/${tag_parts[-2]}
        time_slice_format   %Y-%m-%d
        time_slice_wait     10m  
        buffer_chunk_limit  512m
        flush_mode          interval
        flush_interval      {{ gzip_flush_interval }}
        flush_at_shutdown   true
        compress            gzip
      </template>
    </store>
    <store>
      @type               rewrite_tag_filter
      <rule>
        key               host_groups_name
        pattern           /(goo.*|id.*)$/
        tag               gooid-web_app_gbss.$1.${tag}
      </rule>
    </store>
  </match>

  <filter gooid-web_app_gbss.**>
    @type                   concat
    flush_interval          0
    key                     message
    separator               "### NEW LINE ###"
    multiline_start_regexp  /^date:\d{4}/\d{1,2}/\d{1,2}/
  </filter>

  <match gooid-web_app_gbss.**>
    @type                   rewrite_tag_filter
    <rule>
      key                   host_groups_name
      pattern               /.+/
      tag                   merged.${tag}
    </rule>
  </match>

  # parsed_logに全て格納する
  <filter merged.gooid-web_app_gbss.**>
    @type                   parser
    key_name                message
    <parse>
      @type                 regexp
      time_format           %Y/%m/%d %H:%M:%S.%L
      # expression            /^date:(?<parsed_log>.+)/
      expression            /(?<parsed_log>.+)/
      keep_time_key         true
    </parse>
  </filter>

  # マージ用のログにホスト名を付ける
  <filter merged.gooid-web_app_gbss.**>
    @type                   record_transformer
    <record>
      hostname              ${tag_parts[3]}
    </record>
    <buffer tag>
    </buffer>
  </filter>

  <match merged.gooid-web_app_gbss.**>
    @type                   forest
    subtype                 file
    <template>
      format                hostname_and_message
      append                true
      path                  /db0/tdlogs/merged/${tag_parts[2]}/${tag_parts[4..-3]}/${tag_parts[-2]}
      time_slice_format     %Y-%m-%d
      buffer_path           /db0/tdlogs/merge-buffer/${tag}
      buffer_chunk_limit    512m
      flush_mode            interval
      flush_interval        {{ merged_flush_interval }}
      flush_at_shutdown     true
    </template>
  </match>


  <match merged.gooid-web_app_gbss.**>
    @type null
  </match>
</worker>
