<worker {{td_agent_worker0}}>
  <filter goo*web*.var.log.tomcat.idc.{catalina,localhost}.**>
    @type record_transformer
    enable_ruby
    <record>
      host_groups_name ${tag_parts[0].split(/-[0-9]{3}$/)[0]}
    </record>
    <buffer tag>
    </buffer>
  </filter>
  
  <match goo*web*.var.log.tomcat.idc.{catalina,localhost}.**>
    @type               forest
    subtype             file
    <template>
      format              single_value
      append              true
      buffer_path         /db0/tdlogs/buffer/${tag} 
      path                /db0/tdlogs/${tag_parts[0]}/${tag_parts[1..-3]}/${tag_parts[-2]}
      time_slice_format   %Y-%m-%d
      time_slice_wait     1m  
      buffer_chunk_limit  512m
      flush_mode          interval
      flush_interval      {{ gzip_flush_interval }}
      flush_at_shutdown   true
      compress            gzip
    </template>
  </match>

  <match goo*web*.var.log.tomcat.idc.{catalina,localhost}.**>
    @type null
  </match>
</worker>
