ServerRoot "/etc/httpd"
Listen {{ httpd_port }}
Include conf.modules.d/*.conf
User apache
Group apache
ServerAdmin root@localhost
ServerName {{ httpd_fqdn }}:{{ httpd_port }}
DocumentRoot "/var/www/html"
DirectoryIndex index.html

<Directory />
    AllowOverride none
    Require all denied
</Directory>

<Directory "/var/www/html">
    Options FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

<Files ".ht*">
    Require all denied
</Files>

ErrorLog "|/usr/sbin/rotatelogs /var/log/httpd/error_log.%Y%m%d 86400 540"
LogLevel info
LogFormat "%a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat {{ httpd_logformat }} {{ httpd_logformat_type }}

# アクセスログへのフィルタ条件を定義
# 2024-08 アクセスログの肥大化を防ぐため、静的ファイルのログ行は除外するようにした
# HWKOUKAI2022-246 httpアクセスログ ー 不要行をロギングしない ＋ status.jspの50xエラーを監視から除外させる。
#
# （fgw120.goo.ne.jp では TXTファイルも公開しているため、ロギングさせる。）
SetEnvIfNoCase Request_URI "\.(gif|flv|jpe?g|ico|css|js|png|rdf|svg|swf|webp|xml)$" no_record_object
# 2024-08 LBがアクセスしてくるヘルスチェックでのエラーを一般ユーザのエラーとは分類するため別のログファイルに出力するようにした。
# HWKOUKAI2022-246 httpアクセスログ ー 不要行をロギングしない ＋ status.jspの50xエラーを監視から除外させる。
SetEnvIfNoCase Request_URI "\/(heartbeat|status\.jsp)$" no_record_object object_is_healthcheck

CustomLog "|/usr/sbin/rotatelogs /var/log/httpd/access_log.%Y%m%d 86400 540" {{ httpd_logformat_type }} env=!no_record_object
CustomLog "|/usr/sbin/rotatelogs /var/log/httpd/healthcheck_access_log.%Y%m%d 86400 540" combined env=object_is_healthcheck

TypesConfig /etc/mime.types
AddType application/x-compress .Z
AddType application/x-gzip .gz .tgz
AddDefaultCharset UTF-8
MIMEMagicFile conf/magic
EnableSendfile on

ServerTokens ProductOnly
PidFile run/httpd.pid
Timeout 120
KeepAliveTimeout 1
StartServers 250
MinSpareServers 5
MaxSpareServers 250
ServerLimit 750
MaxRequestWorkers 750
MaxConnectionsPerChild 5000

ErrorDocument 503 /error.html.utf8
ErrorDocument 500 /error.html.utf8
ErrorDocument 404 /error.html.utf8
ErrorDocument 403 /error.html.utf8
ErrorDocument 400 /error.html.utf8

RemoteIPHeader X-Forwarded-For

IncludeOptional conf.d/*.conf

