# No.10 : 強制ログローテート
# category: 運用
3 0 * * * gooscp /usr/bin/wget -O - --no-check-certificate https://auth.d.goo.ne.jp/idhub/tools/DummyLogging > /dev/null 2>&1

# No.11 : ヘルプツール 強制ログローテート
# category: 運用
3 0 * * * gooscp /usr/bin/wget -O - --no-check-certificate https://idhub.wbo110.goo.ne.jp/d_help/tool/dummylogging > /dev/null 2>&1

# No.21 : メールマガジン購読者リスト作成バッチ
# category: service
30 0 * * * gooscp /usr/local/app/idhub/perl/batch/make_magazine_list.pl > /dev/null 2>&1

# No.1 : 退会アカウントリスト出力
# category: service
30 1 * * * gooscp /usr/local/app/idhub/perl/batch/make_reject_account_list.pl > /dev/null 2>&1

# No.9 : 仮登録情報削除
# category: clean
30 1 * * * gooscp /usr/local/app/idhub/perl/batch/delete_temporary_register_account.pl > /dev/null 2>&1

# No.17 : 有効期限切れ認証セッション情報の削除
# category: clean
0 2 * * * gooscp /usr/local/app/idhub/perl/batch/delete_authn_session.pl > /dev/null 2>&1

# No.18 : 有効期限切れ履歴情報の削除
# category: clean
30 2 * * * gooscp /usr/local/app/idhub/perl/batch/delete_expired_history.pl > /dev/null 2>&1

# No.2 : 有効アカウントリスト出力
# category: service
0 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_active_account_list.pl > /dev/null 2>&1

# No.6 : 有効アカウントリスト出力(GOOxD向け)
# category: service
10 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_goo_active_account_list.pl > /dev/null 2>&1

# No.4 : 登録連携エラーアカウントリスト出力
# category: service
30 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_register_error_account_list.pl > /dev/null 2>&1

# No.5 : UID追加連携エラーアカウントリスト出力
# category: service
30 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_add_uid_error_account_list.pl > /dev/null 2>&1

# No.12 : OCN ID連携解除エラーアカウントリスト出力
# category: service
32 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_ocn_disconnect_error_account_list.pl > /dev/null 2>&1

# No.13 : dポイントカード番号連携エラーアカウントリスト出力(OCNxD向け)
# category: service
34 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_ocn_dpointcard_error_account_list.pl > /dev/null 2>&1

# No.7 : 登録連携エラーアカウントリスト出力(GOOxD向け)
# category: service
40 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_goo_register_error_account_list.pl > /dev/null 2>&1

# No.14 : 連携解除エラーアカウントリスト出力(GOOxD向け)
# category: service
42 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_goo_disconnect_error_account_list.pl > /dev/null 2>&1

# No.15 : dポイントカード番号連携エラーアカウントリスト出力(GOOxD向け)
# category: service
44 3 * * * gooscp /usr/local/app/idhub/perl/batch/make_goo_dpointcard_error_account_list.pl > /dev/null 2>&1

# No.3 : 有効アカウントリスト出力(gooID連携)月次
# category: service
10 4 1 * * gooscp /usr/local/app/idhub/perl/batch/make_goo_active_account_monthly_list.pl > /dev/null 2>&1

# No.8 : dアカウント連携情報リスト出力(ホス基向け)
# category: service
10 4 * * * gooscp /usr/local/app/idhub/perl/batch/make_docomo_link_info_list.pl > /dev/null 2>&1

# No.21 : 生年とメルマガのパーミッション出力(ホス基向け)
# category: service
30 4 * * * gooscp /usr/local/app/idhub/perl/batch/make_idhub_userbirth_mailpermission.pl > /dev/null 2>&1

# No.22：バッチ生成物削除処理
# category: clean
40 4 * * * root find /db0/app/goo/batch_file/ -type f -follow -mtime +180 -exec rm -v {} \; >> /var/tmp/batch_file_delete_$(date '+\%Y\%m\%d').log 2>&1

# No.19 : 退会済みユーザーの個人情報削除
# category: clean
0 7 2 * * gooscp /usr/local/app/idhub/perl/batch/delete_personal_data.pl > /dev/null 2>&1

# No.16 : dアカウント連携ログイン利用サービスレポート作成
# category: report
8 9 * * * gooscp /usr/local/app/idhub/perl/report/docomo_login_report.pl >/dev/null 2>&1

# No.20 : 電話番号認証リクエスト(TeleSign)集計レポート作成
# category: report
24 9 * * * gooscp /usr/local/app/idhub/perl/report/auth_telephone_report.pl > /dev/null 2>&1
