{#
    影武者 Apache 設定ファイル
        - Jinja2テンプレートのInclude文でコールします。
        - このテンプレート利用時は、変数 "kagemusha_port" をセットしてください。
            - 各バーチャルホストの待機ポートを指定します。例 gooIDは 40080

#}
#
# 影武者 2025
#
#   "X-Kagemusha: 003"（例）といった特殊ヘッダを付与し、特定のWEBサーバへのProxy
#   させます。検証用途で用います。
#   特定のIPからしか、その特殊ヘッダを指定してのアクセスは出来ません。
#
#   See. [GOOID-891 影武者をやりやすく。保守もラクに。](https://bit.ly/4kJxKiH)
#
RewriteEngine On

# VDI (VMWare/Splashtop) からのアクセスか？を判定
##  ZeroSpace (VMWare) VDI
RewriteCond expr "-R '202.19.227.74/32'" [OR]
RewriteCond expr "-R '202.19.228.74/32'" [OR]
RewriteCond expr "-R '210.148.141.1/27'" [OR]
RewriteCond expr "-R '210.148.200.1/27'" [OR]
RewriteCond expr "-R '114.160.196.245/32'" [OR]
RewriteCond expr "-R '114.160.237.193/32'" [OR]
## SplashTop VDI
RewriteCond expr "-R '202.217.74.160/28'"
## set INTERNAL=1 （続く）
RewriteRule .* - [E=INTERNAL:1]

# 「影武者」発動条件
## 条件1. VDIからのアクセスであること。
RewriteCond %{ENV:INTERNAL} 1
## 条件2. （重要）自分自身へのProxy指定でないこと。（この条件がないとProxyの永久ループに陥ります。）
RewriteCond %{HTTP:X-Kagemusha} !^({{server_num}})$
## 条件3. 3桁の数字であること。
RewriteCond %{HTTP:X-Kagemusha} ^(\d{3})$
## （「影武者」発動）他へProxyしここで終了
RewriteRule ^(.*)$ http://{{server_group}}-%1:{{kagemusha_port}}$1 [P,QSA,L]

# 影武者拡張ヘッダの値が自身である際、影武者Proxyの終着地点（＝TERMINAL）であると検知。
# TITLEタグを変える。
RewriteCond %{ENV:INTERNAL} 1
RewriteCond %{HTTP:X-Kagemusha} ^({{server_num}})$
RewriteRule .* - [E=TERMINAL:%1]

<If "-n env('TERMINAL')">
    # HTML <title>タグに、ホスト名情報を挿入するよう書き換えます。（HTMLのときのみ）
    AddOutputFilterByType SUBSTITUTE text/html
    Substitute "s|<title>|<title>**KAGEMUSHA to {{ inventory_hostname_short }}** / |i"
</If>
## End Of 影武者 2025 ##

